[Section 1](#section_1)

## Imports

In [1]:
import pandas as pd
import os
import numpy as np
from neo4j import GraphDatabase
import re
from functools import reduce

## Functions

### Using Naming Conventions

In [2]:
def convert_using_naming():
    nodesNames = ('supplier', 'customer',  'retailer','service providers', 'distributors', 'sales channels', 'consumers', 'producers', 'vendors', 'transportation', 'wholesaler', 'distribution center', 'warehouses')

    for name in list(All_dfs.keys()):
        lowerCasedName = name.lower()
        if(lowerCasedName in nodesNames):
            nodes.add(lowerCasedName)

### Find Each Table's primary key

In [3]:
def pk_finder(name, df):
    for i in range(len(df.columns)):
        col = df.iloc[:,i]
        #if(col.size == col.drop_duplicates().size):
        if(col.nunique() == col.size):
            pk[name] = df.columns[i] 
            break

### Find Each Table's foreign key

In [4]:
def fk_finder(name, df):
    for i in range(len(df.columns)):
        col_name = df.columns[i]
        col = df[col_name]
        for j in pk: #loops on the key j = table names
            if j != name:
                primary_key_column = All_dfs[j][(pk[j])]
                
                if primary_key_column.dtype == col.dtype:
                    status = col.isin(primary_key_column)
                    if status[status== False].size == 0:
                        fk[name][col_name] = j 
                        ref_in[j].add(name)
                        break

                elif (isinstance(col[0],list) and len(df[col.isin([[]])])==0 and type(primary_key_column[0]) == type(col[0][0])):
                    status = col.explode().reset_index(drop=True).isin(primary_key_column)
                    if status[status== False].size == 0:
                        fk[name][col_name] = j 
                        ref_in[j].add(name)
                        break

In [5]:
# type(All_dfs["warehouses"].warehouse_id[0])

### Assign Tables to nodes or edges

In [6]:
def nodes_edges(fk):
    for f in fk:
        if(f not in ['ssintorders','manufacturing']):
            if len(fk[f]) == 2:
                inner_dict = list(fk[f])
                edges.add(f)
            elif len(fk[f]) == 1:
                properties.add(f)
            # elif len(fk[f]) == 0:
            #     nodes.add(f)

### Create Nodes Table

In [7]:
def add_nodes(nodes, nodesTable):
    for node in nodes:
#     for n in range(len(nodes)):
        column_names = list(All_dfs[node].columns) #get column names
        for index,row in All_dfs[node].iterrows():
#         for index, row in nodes[list(nodes.keys())[n]].iterrows():
            
            att = {}
            for i in range(1, len(column_names)):
                att[column_names[i]] = All_dfs[node].iloc[index, i]
#                 att[column_names[i]] = nodes[list(nodes.keys())[n]].iloc[index, i]
                
            newRow = [{'Label': node , 'ID': All_dfs[node].iloc[index,0] , 'Attributes': att}]
            tmp = pd.DataFrame(newRow)
            nodesTable = pd.concat([nodesTable, tmp], ignore_index=True)
    return nodesTable

def add_nodesV2(nodeNames, nodesTB):
    for node in nodeNames:
        print(node)
        dfNumpy =  All_dfs[node].to_numpy()
        # All_dfs.pop(node)
        allDfsKeys.remove(node)
        for row in dfNumpy:
            newRow = [{'Label': node, 'ID': row[0] , 'Attributes': row[1:]}]
            tmp = pd.DataFrame(newRow)
            nodesTB = pd.concat([nodesTB, tmp], ignore_index=True)
    return nodesTB

### Create Edges Table

In [8]:
def add_edges(edges,edgesTable,pk,fk,ref_in):
    
    for e in edges:
        df = All_dfs[e] #df of the cur edge
        for r in range(len(df)):
            label = list(fk[e].keys())
            from_id = nodesTable[(nodesTable["Label"] == fk[e][label[0]]) & (df.loc[r,label[0]] == nodesTable["ID"])]
            from_id = from_id.index[0]
            to_id = nodesTable[(nodesTable["Label"] == fk[e][label[1]]) & (df.loc[r,label[1]] == nodesTable["ID"])]
            to_id = to_id.index[0]
            pk_col = pk[e]
#             primary_key = df[pk_col].iloc[r]
            primary_key = df.loc[r,pk_col]
            att = convert_prop(ref_in,e,primary_key,fk)
            newRow = [{'From_Node_ID': from_id, 'To_Node_ID': to_id, 'order/service' : att}]
            tmp = pd.DataFrame(newRow)
            edgesTable = pd.concat([edgesTable, tmp], ignore_index=True)
    return edgesTable

def add_edgesV2(edges,edgesTable,pk,fk,ref_in):
    for e in edges:
        df = All_dfs[e] #df of the cur edge
        dfNumpy =  df.to_numpy()
        for row in dfNumpy:
            label = list(edges[e].keys())
            indexOfFromColumn =  list(df.columns).index(label[0])
            from_id = nodesTableV1[(nodesTableV1["Label"] == edges[e][label[0]]) & (row[indexOfFromColumn] == nodesTableV1["ID"])]
            from_id = from_id.index[0]
            indexToFromColumn =  list(df.columns).index(label[1])
            to_id = nodesTableV1[(nodesTableV1["Label"] == edges[e][label[1]]) & (row[indexToFromColumn] == nodesTableV1["ID"])]
            to_id = to_id.index[0]
            pk_col = pk[e]
            primary_key = row[list(df.columns).index(pk_col)]
            att = convert_prop(ref_in,e,primary_key,fk)
            newRow = [{'From_Node_ID': from_id, 'To_Node_ID': to_id, 'order/service' : att}]
            tmp = pd.DataFrame(newRow)
            edgesTableV1 = pd.concat([edgesTableV1, tmp], ignore_index=True)
    return edgesTable

### Properties of the Edge

In [9]:
def convert_prop(ref_in,edge_key, pk_value,fk):
    for referenced_table_name in ref_in[edge_key]:
        referenced_table = All_dfs[referenced_table_name]
        fk_of_ref_table = fk[referenced_table_name]
        for foreign_key in fk_of_ref_table:
            if fk_of_ref_table[foreign_key] == edge_key:
#                 referenced_table[referenced_table[foreign_key]== id]
                all_occurances_df = referenced_table[referenced_table[foreign_key]== pk_value].drop([foreign_key],axis=1)
                return all_occurances_df.to_dict('records')

### generate list of n colors

In [10]:
import random
get_colors = lambda n: list(map(lambda i: "#" + "%06x" % random.randint(0, 0xFFFFFF),range(n)))
# get_colors(5) # sample return:  ['#8af5da', '#fbc08c', '#b741d0', '#e599f1', '#bbcb59', '#a2a6c0']

### Draw Pyvis graph

In [11]:
def draw_graph_pyvis(nodes_table,edges_table):

    nodes_name = [(x[1]+'_'+str(x[0])).capitalize() for x in zip(nodes_table.ID,nodes_table.Label)]
    indices = list(map(lambda x: int(x),list(nodes_table.index)))
    nodes_attributes = list(map(lambda x: str(x).replace(',',"\n"),list(nodes_table.Attributes)))
    nodes_tables = list(nodes_df.Label.unique())
    colors = get_colors(len(nodes_name))
    nodes_color = list(map(lambda x: colors[nodes_tables.index(x)],list(nodes_table.Label)))
    
    g = Network(width='100%')
#     g.barnes_hut()
    g.add_nodes(indices,
                title= nodes_attributes,
                label=nodes_name,
                color=nodes_color,
                )
    for e in range(len(edges_table)):
        src = int(edges_table.iloc[e]["From"])
        dst = int(edges_table.iloc[e]["To"])
        g.add_edge(src,dst,weight=5)

    print("Number of Nodes: ",len(g.get_nodes()))
    print("Number of Edges: ",len(g.get_edges()))
    

    g.show('test.html')

### Draw Graph Neo4j

<a id='Neo4jFunction'></a>

[Noe4jCallFunction](#Neo4jCall)

#### prepare satements

In [12]:
def draw_graph_Neo4j(nodes_table,edges_table):

    transaction_execution_commands = []
    transaction_execution_commands.append("match (n) detach delete n")
    # creating a statement for each node (row in node_table)
    for i, node in nodes_table.iterrows():
        label = node["Label"].capitalize()
        index = i
        IDs = node["ID"]
        attributes = node["Attributes"]
        neo4j_create_statement = Create_Statement(label,i,IDs,attributes)
        transaction_execution_commands.append(neo4j_create_statement)

    for i, edge in edges_table.iterrows():

        neo4j_create_statement = create_relation_statement(edge)
        transaction_execution_commands.append(neo4j_create_statement)

     
    execute_transactions(transaction_execution_commands)

#### Connect and execute statements

In [13]:
def execute_transactions(transaction_execution_commands):
    data_base_connection = GraphDatabase.driver(uri = "bolt://localhost:7687", auth=("neo4j", "password"))
#     session = data_base_connection.session()    
    with data_base_connection.session() as session:
        for i in transaction_execution_commands:
            session.execute_write(lambda tx,i: tx.run(i),i)
            #execute_read

#### Create a "Create statement for nodes"

In [14]:
def Create_Statement(label,index,IDs,attributes):
#     att = destructure_dict(attributes)
#     return f"CREATE (x:{label} {'{'}name: {get_name(label,IDs)},index:{index},ID:{IDs} ,{destructure_dict(attributes)} {'}'})"
    att = (", " + destructure_dict(attributes)) if len(attributes) > 0 else ""
    return f"CREATE (x:{label} {'{'}name: {get_name(label,IDs)},index:{index},ID:{IDs} {att} {'}'})"

In [15]:
def get_name(label,ID):
    return '\"' + label.capitalize()+' '+str(ID)+'\"'

#### prepare attributes for create statement

In [16]:
def destructure_dict(dic):
    s = ""
    for key in dic:
        value = dic[key]
        if isinstance (value,str):
            value = "\"" + value +"\""
        s=s + re.sub("[^\w_]", '',str(key).replace(" ","_")) + ":" + str(value)+","
    return s[:-1]

In [17]:
def create_relation_statement(edge):
        from_id = edge['From']
        to_id = edge['To']
        from_name = edge['From_Table']
        to_name = edge['To_Table']
        rel_name = edge['Edge_Name']
        w = edge['Weight']
        return f"Match (a:{from_name}),(b:{to_name}) WHERE a.index ={from_id} AND b.index = {to_id} CREATE (a) - [r:{rel_name} {'{ weight: '+ str(w) +' }'}]->(b)"

In [18]:
def and_agg(series):
       return reduce(lambda x, y: x and y, series)

## Global Variables

In [19]:
# {Table name: df}
All_dfs = {}
# {Table name: Table's Primary key}
pk = {}
# {Table name: {Column Name: Referenced Table}}
fk = {}
# {Table name: set(Tables that references the table)}
ref_in = {}
# {Table name: df}
nodes = set()
# {Table name: {Column Name: Referenced Table}}
edges = set()
# _
properties = set()
# Nodes_df
nodesTable = pd.DataFrame(columns=['Label', 'ID', 'Attributes'])
# Edges_df
edgesTable = pd.DataFrame(columns = ['From_Node_ID', 'To_Node_ID', 'order/service'])
# Properties_df
propertiesTable = pd.DataFrame(columns = [['index','From', 'Label', 'Attributes']])
#Label = ['facilities'/ 'order' / 'service']


# Nodes
# Edges ['From_Node_ID', 'To_Node_ID']
# Properties ['Label', 'ID', 'Attributes']
# (^Nodes in graph)
# Relationship ["Relation_name","from","to"]


nodes_df = pd.DataFrame(columns=['Label', 'ID', 'Attributes'])
edges_df = pd.DataFrame(columns=['From','To','From_Table','To_Table','Weight','Edge_Name'])

<a id='section_1'></a>
## Reading Data Set

 creating a dictionary where
 key: first word of the table name 
 value: df

In [20]:
import os
path_of_the_directory = './DataSet/'
ext = ('.csv')
for file in os.listdir(path_of_the_directory):
    if file.endswith(ext):
        print(file) 
        temp = (file.replace("_"," ").replace("."," ").split(" ")[0].lower())
        All_dfs[temp] = pd.read_csv(path_of_the_directory+file)
    else:
        continue

for table_nm in All_dfs:
    table = All_dfs[table_nm]
    for column_name in table.columns:
        column =  table[column_name]
        if column.dtype=='O' and isinstance(column[0],str):
            if  (isinstance(column[0],str) and column.apply(lambda x: (str(x).startswith('[') and str(x).endswith(']'))
                         or 
                         (str(x).startswith('(') and str(x).endswith(')'))).agg(and_agg)):
                print(table_nm,column_name)

                s = column.apply(lambda x: x.strip("[](,)").split(','))
                if (s[0][0].isdigit()):
                    
                    new_s = pd.Series(dtype=object)                
                    for index,item in s.iteritems():
                        new_item = []
                        for element in item:
                            new_item.append(np.int64(element))
                        new_s.at[index] = new_item
                    s=new_s

                else:
                    new_s = pd.Series(dtype=object)                
                    for index,item in s.iteritems():
                        new_item = []
                        for element in item:
                            new_item.append(element.strip().strip('"').strip("'").strip())
                        new_s.at[index] = new_item
                    s=new_s

                All_dfs[table_nm][column_name] = s

customer_data.csv
ExternalOrders_data.csv
ExternalServices_data.csv
ExternalShipments_data.csv
ExternalTransactions.csv
facilities_data.csv
InternalOrders_data.csv
InternalServices_data.csv
InternalShipments_data.csv
InternalTransactions.csv
Manufacturing_data.csv
Products_data.csv
Retailer_data.csv
Supplier_data.csv
warehouses_data.csv
manufacturing Different_suppliers
products warehouses
warehouses product_types

In [21]:
All_dfs["products"].groupby(["product_type","product_name"]).mean()

                           prod_id        price  profit_margin (%)
product_type product_name
A            AAA             727.0  2869.856667               47.0
             DDD             677.0  9045.910000               33.0
             GGG             437.0  3176.560000               11.0
             HHH             641.0     2.815000               29.0
             KKK             517.0     8.690000               50.0
...                            ...          ...                ...
Z            GGG             299.0    77.320000               47.0
             HHH             113.0  4921.760000               37.0
             VVV             225.0    80.980000               12.0
             YYY             445.0  4890.800000               20.0
             ZZZ             504.0  6228.920000               12.0

[343 rows x 3 columns]

In [22]:
type([])

list

In [23]:
print(type(np.int64("2")))

<class 'numpy.int64'>

In [24]:
All_dfs['manufacturing']['Different_suppliers'].dtype

dtype('O')

In [25]:
All_dfs["products"].warehouses.explode().isin(All_dfs["warehouses"].warehouse_id ).agg(and_agg)

True

In [26]:
# ware_house_id = All_dfs["warehouses"].warehouse_id 

# warehouse_product_isin_warehouse = All_dfs["products"].warehouses.explode().isin(ware_house_id)
# warehouse_product_not_in_warehouse_values = list(All_dfs["products"].warehouses.explode()[[not elem for elem in warehouse_product_isin_warehouse]].unique())
# print(len(warehouse_product_not_in_warehouse_values))
# warehouse_isin_warehouse_product =  ware_house_id.isin(All_dfs["products"].warehouses.explode())
# print(len( list(ware_house_id[[not elem for elem in warehouse_isin_warehouse_product]].unique())))
# warehouses_to_be_replaced = list(ware_house_id[[not elem for elem in warehouse_isin_warehouse_product]].unique())[:len(warehouse_product_not_in_warehouse_values)]

# All_dfs["warehouses"].warehouse_id  =  ware_house_id.replace(warehouses_to_be_replaced,warehouse_product_not_in_warehouse_values)

### Adding Missing Edges

In [27]:
initial_internalshipments_df = All_dfs["internalshipments"]
initial_internalshipments_df

     IntShip_id  listSuppIds  factoryIds from_to_where TransportationType
0          7281        90942       52160            SS               Land
1          5897        36243       67361            SR                Air
2          3477        87916       30692            SS               Land
3          8796        90236       26533            SS                Sea
4          2360        89467       46954            SR                Air
..          ...          ...         ...           ...                ...
583       10478        42179       46070            SS                Sea
584       10479        48467       46070            SS                Sea
585       10480        70468       18952            SS                Air
586       10481        48580       18952            SS               Land
587       10482        30864       18952            SS                Air

[588 rows x 5 columns]

In [28]:
c = 9995
from_shipment = All_dfs["internalshipments"].listSuppIds
to_shipment = All_dfs["internalshipments"].factoryIds

for r in range(len(All_dfs["manufacturing"])):
    diff_supp = All_dfs["manufacturing"].loc[r,"Different_suppliers"]
    factory = All_dfs["manufacturing"].loc[r,"Factory_id"]
    for s in range(len(diff_supp)):
        
        supp = diff_supp[s]
        if supp == factory:
            print(factory)
        if len(All_dfs["internalshipments"].query(f"listSuppIds == {supp} and factoryIds == {factory}")) ==0:
            new_row = [{"IntShip_id":c, "listSuppIds":supp, "factoryIds": factory, "from_to_where": "SS"}] 
            df = pd.DataFrame(new_row)
            c = c+1
            All_dfs["internalshipments"] = pd.concat([All_dfs["internalshipments"], df], ignore_index=True)

#         if (supp not in from_shipmentfrom_shipment)  :
#                 if factory in All_dfs["supplier"].supp_id:
#                     i = "SS"

#         new_row = [{"IntShip_id":c, "listSuppIds":diff_supp[s], "factoryIds": factory, "from_to_where": i}] 
#         df = pd.DataFrame(new_row)
#         c = c+1
#         All_dfs["internalshipments"] = pd.concat([All_dfs["internalshipments"], df], ignore_index=True)

### Adding Missing Orders

In [29]:
orders_int_ship_id = All_dfs["internalorders"].IntShip_id	
internal_ship_id = All_dfs["internalshipments"].IntShip_id
ship_id_in_orders_ship_id = internal_ship_id.isin(orders_int_ship_id)
ship_id_not_in_orders_ship_id = list(All_dfs["internalshipments"].IntShip_id[[not elem for elem in ship_id_in_orders_ship_id]].unique())
len(ship_id_not_in_orders_ship_id)

522

In [30]:
c = 9931
for id in ship_id_not_in_orders_ship_id:
    new_row = [{"IntOrders_id":c, "IntShip_id":id, "quantity": 766, "placed_when": "1993-05-08",
    "actual_date":"1993-05-30 00:00:00", "expected_date":"1993-06-01", "cost":"38.90", "status":"Closed"}] 
    df = pd.DataFrame(new_row)
    c = c+1
    All_dfs["internalorders"] = pd.concat([All_dfs["internalorders"], df], ignore_index=True)

In [31]:
display(All_dfs["internalshipments"])

IntShip = All_dfs["internalshipments"].shape[0]
#SRIntShip
ExtShip = All_dfs["externalshipments"].shape[0]

types = ['Air', 'Sea', 'Land']

a = np.array([random.choice(types) for x in range(IntShip)])
b = np.array([random.choice(types) for x in range(ExtShip)])
 
serIntShip = pd.Series(a)
serExtShip = pd.Series(b) 

All_dfs["internalshipments"]['TransportationType'] = serIntShip
#SRIntShip
All_dfs["externalshipments"]['TransportationType'] = serExtShip

All_dfs["internalshipments"]

     IntShip_id  listSuppIds  factoryIds from_to_where TransportationType
0          7281        90942       52160            SS               Land
1          5897        36243       67361            SR                Air
2          3477        87916       30692            SS               Land
3          8796        90236       26533            SS                Sea
4          2360        89467       46954            SR                Air
..          ...          ...         ...           ...                ...
583       10478        42179       46070            SS                Sea
584       10479        48467       46070            SS                Sea
585       10480        70468       18952            SS                Air
586       10481        48580       18952            SS               Land
587       10482        30864       18952            SS                Air

[588 rows x 5 columns]

     IntShip_id  listSuppIds  factoryIds from_to_where TransportationType
0          7281        90942       52160            SS                Air
1          5897        36243       67361            SR                Sea
2          3477        87916       30692            SS               Land
3          8796        90236       26533            SS               Land
4          2360        89467       46954            SR                Sea
..          ...          ...         ...           ...                ...
583       10478        42179       46070            SS                Air
584       10479        48467       46070            SS                Sea
585       10480        70468       18952            SS                Sea
586       10481        48580       18952            SS                Air
587       10482        30864       18952            SS                Air

[588 rows x 5 columns]

### Splitting Shipments tables

In [32]:
SRIntShip = All_dfs["internalshipments"].query('from_to_where == "SR"')
SRIntShip = SRIntShip.drop(['from_to_where'], axis=1).reset_index(drop = True)
#SRIntShip
RCExtShip = All_dfs["externalshipments"].query('from_to_where == "RC"')
RCExtShip = RCExtShip.drop(['from_to_where'], axis=1).reset_index(drop = True)
#RCExtShip
SSIntShip = All_dfs["internalshipments"].query('from_to_where == "SS"')
SSIntShip = SSIntShip.drop(['from_to_where'], axis=1).reset_index(drop = True)
#SSIntShip
SCExtShip = All_dfs["externalshipments"].query('from_to_where == "SC"')
SCExtShip = SCExtShip.drop(['from_to_where'], axis=1).reset_index(drop = True)
#SCExtShip
All_dfs["RCExtShip".lower()] = RCExtShip
All_dfs["SCExtShip".lower()] = SCExtShip
All_dfs["SRIntShip".lower()] = SRIntShip
All_dfs["SSIntShip".lower()] = SSIntShip

### Splitting Orders Tables

In [33]:
filter_list = All_dfs["rcextship"]["ExtShip_id"]
All_dfs["rcextorders"] = All_dfs["externalorders"][All_dfs["externalorders"].ExtShip_id.isin(filter_list)].reset_index(drop=True)
filter_list = All_dfs["scextship"]["ExtShip_id"]
All_dfs["scextorders"] = All_dfs["externalorders"][All_dfs["externalorders"].ExtShip_id.isin(filter_list)].reset_index(drop=True)
#All_dfs["scextorders"] = All_dfs["externalorders"].query("ExtShip_id.isin(@filter_list)").reset_index(drop=True)
filter_list = All_dfs["srintship"]["IntShip_id"]
All_dfs["srintorders"] = All_dfs["internalorders"][All_dfs["internalorders"].IntShip_id.isin(filter_list)].reset_index(drop=True)
#All_dfs["srintorders"] = All_dfs["internalorders"].query("IntShip_id.isin(@filter_list)").reset_index(drop=True)
filter_list = All_dfs["ssintship"]["IntShip_id"]
All_dfs["ssintorders"] = All_dfs["internalorders"][All_dfs["internalorders"].IntShip_id.isin(filter_list)].reset_index(drop=True)
#All_dfs["ssintorders"] = All_dfs["internalorders"].query("IntShip_id.isin(@filter_list)").reset_index(drop=True)

### Removing Redundant Tables

In [34]:
All_dfs.pop("internalshipments")
All_dfs.pop("externalshipments")
All_dfs.pop("externalorders")
All_dfs.pop("internalorders")
All_dfs.keys()

dict_keys(['customer', 'externalservices', 'externaltransactions', 'facilities', 'internalservices', 'internaltransactions', 'manufacturing', 'products', 'retailer', 'supplier', 'warehouses', 'rcextship', 'scextship', 'srintship', 'ssintship', 'rcextorders', 'scextorders', 'srintorders', 'ssintorders'])

In [35]:
supplier_to_retailer_shipment_df = All_dfs["srintship"]
retailer_df = All_dfs["retailer"]
supplier_df = All_dfs["supplier"]
suppliers_ids_in_shipments = list(supplier_to_retailer_shipment_df.listSuppIds.unique())
suppliers_in_shipments_df = supplier_df[supplier_df["supp_id"].isin(suppliers_ids_in_shipments)]
retailers_types_column = []
for _, retialer_row in retailer_df.iterrows():
        retailer_types = set()
        retailer_id = retialer_row.retailer_id
        shipments_with_retailer_df = supplier_to_retailer_shipment_df[supplier_to_retailer_shipment_df.factoryIds == retailer_id]
        for _,shipment_row in shipments_with_retailer_df.iterrows():
            supplier_id = shipment_row.listSuppIds
#             print(suppliers_in_shipments_df[suppliers_in_shipments_df.supp_id == supplier_id].iloc[0].type)
            supplier_type = suppliers_in_shipments_df[suppliers_in_shipments_df.supp_id == supplier_id].iloc[0].type
            retailer_types.add(supplier_type)
        retailers_types_column.append(list(retailer_types))

retailer_df["RetailerTypes"] = retailers_types_column
All_dfs["retailer"]=retailer_df

In [36]:
retailer_df[retailer_df["RetailerTypes"].isin([[]])]

,retailer_id,country,city_name,type,reviews_number,rating,opening_hours,capacity (units),RetailerTypes
0,91089,Tunisia,Kairouan,distributer,650,5,7,169554,[]
1,95444,Kuwait,Al Farwānīyah,vendor,441,1,8,325442,[]
2,66051,Qatar,Ash Shīḩānīyah,abroad,821,2,9,426160,[]
4,34083,Gambia,Banjul,vendor,815,4,7,1843949,[]
6,12318,Tajikistan,Kŭhistoni Badakhshon,vendor,356,3,8,1133068,[]
...,...,...,...,...,...,...,...,...,...
144,76954,Montenegro,Rožaje,distributer,191,5,3,309798,[]
146,18464,Haiti,Grandans,customer end,295,2,5,1686073,[]
147,57039,Lao People's Democratic Republic,Viangchan,vendor,450,2,7,1019346,[]
148,33250,South Sudan,Lakes,customer end,318,4,6,716050,[]
149,21789,Cyprus,Ammochostos,distributer,907,3,5,284423,[]

In [37]:
# for table in All_dfs:
#     print(table)
#     print(All_dfs[table].isna().sum())
#     print("_________________________")

### Removing nan

In [38]:
for table in All_dfs:
    All_dfs[table].fillna('Unknown',inplace = True)

### Execlude Tables

In [39]:
# All_dfs = {key: value for key, value in All_dfs.items() 
#            if key not in ["products","warehouses","manufacturing"]}
# All_dfs.keys()

In [44]:
import random
supplier_ids=All_dfs['ssintship']['listSuppIds']
factory_ids =All_dfs["manufacturing"]['Factory_id']
manufacuted_products = All_dfs["manufacturing"]["Product_id"]
product_ids = pd.Series(All_dfs["products"]["prod_id"].unique())

not_manufactured_products = manufacuted_products[~product_ids.isin(manufacuted_products)].unique()

products_column = []

for index,row in All_dfs["ssintorders"].iterrows():
    ship = row["IntShip_id"]
    
    sup_id = All_dfs["ssintship"].query(f'IntShip_id == {ship}')["listSuppIds"].iloc[0]
    intersection = np.where(factory_ids==sup_id)[0]
    
    if(len(intersection)>=1):
        products_column.append(manufacuted_products[random.choice(intersection)])
    elif(len(intersection)==0):
        products_column.append(random.choice(not_manufactured_products))


All_dfs['ssintorders']["prod_id"] = products_column

In [45]:
import random
x=All_dfs['ssintship']['listSuppIds']
print(len(x))
y=All_dfs["manufacturing"]['Factory_id']
print(len(y))
z=[]
print(x.isin(y).value_counts())
# z=All_dfs['ssinttorders']
for i in range (len(x)):
    temp=np.where(y==x[i])[0]
    if(len(temp)>1):#returns the indices that makes this statement true
        z.append(random.choice(temp))
    elif(len(temp)==1):
        z.append(temp[0])
    elif(len(temp)==0):
        z.append(random.randint(0,len(y)-1))

# now z has size = 537 and the intship has size of 548 so will randomly add 11 more values
for i in range(11):
    z.append(random.randint(0,len(y)-1))
print(len(x)-len(y))
len(z)
prod_id=[]
for i in range(len(z)):
    prod_id.append(All_dfs["manufacturing"]['Product_id'][z[i]])
prod_id    
All_dfs['ssintorders'].insert(8,'prod_id',prod_id,True)

537
100
True     327
False    210
Name: listSuppIds, dtype: int64
437

In [50]:
products_df = All_dfs['products']
factory_ids = All_dfs["manufacturing"]['Factory_id']
manufactured_products = All_dfs["manufacturing"]["Product_id"]
product_ids = pd.Series(All_dfs["products"]["prod_id"].unique())

not_manufactured_products = product_ids[~product_ids.isin(manufactured_products)].unique()

products_column = []
order_cost = []
for _, row in All_dfs["scextorders"].iterrows():
    ship = row["ExtShip_id"]
    quantity = row['quantity']
    ship_row = All_dfs["scextship"].query(f'ExtShip_id == {ship}')
    sup_id = ship_row["factoryIds/retailerIds"].iloc[0]
    print('sup_ID ',sup_id)
    # ret_id = ship_row["factoryIds"].iloc[0]
    print(np.where(factory_ids == sup_id))
    intersection = np.where(factory_ids == sup_id)[0]
    print('intersection: ',intersection)
    print("_______________")

sup_ID  46204
(array([58], dtype=int64),)
intersection:  [58]
_______________
sup_ID  68240
(array([40], dtype=int64),)
intersection:  [40]
_______________
sup_ID  99762
(array([11], dtype=int64),)
intersection:  [11]
_______________
sup_ID  13920
(array([89], dtype=int64),)
intersection:  [89]
_______________
sup_ID  52160
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  23640
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  13951
(array([22, 33, 80, 90], dtype=int64),)
intersection:  [22 33 80 90]
_______________
sup_ID  30692
(array([20, 64], dtype=int64),)
intersection:  [20 64]
_______________
sup_ID  82144
(array([7], dtype=int64),)
intersection:  [7]
_______________
sup_ID  75444
(array([65], dtype=int64),)
intersection:  [65]
_______________
sup_ID  30692
(array([20, 64], dtype=int64),)
intersection:  [20 64]
_______________
sup_ID  18997
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  23640
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  86815
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  99762
(array([11], dtype=int64),)
intersection:  [11]
_______________
sup_ID  21232
(array([71], dtype=int64),)
intersection:  [71]
_______________
sup_ID  21232
(array([71], dtype=int64),)
intersection:  [71]
_______________
sup_ID  76443
(array([13, 52], dtype=int64),)
intersection:  [13 52]
_______________
sup_ID  68240
(array([40], dtype=int64),)
intersection:  [40]
_______________
sup_ID  97142
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  99762
(array([11], dtype=int64),)
intersection:  [11]
_______________
sup_ID  21232
(array([71], dtype=int64),)
intersection:  [71]
_______________
sup_ID  18997
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  82144
(array([7], dtype=int64),)
intersection:  [7]
_______________
sup_ID  29277
(array([72], dtype=int64),)
intersection:  [72]
_______________
sup_ID  52647
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  57551
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  35266
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  99762
(array([11], dtype=int64),)
intersection:  [11]
_______________
sup_ID  28873
(array([96], dtype=int64),)
intersection:  [96]
_______________
sup_ID  13920
(array([89], dtype=int64),)
intersection:  [89]
_______________
sup_ID  52160
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  13920
(array([89], dtype=int64),)
intersection:  [89]
_______________
sup_ID  89467
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  99762
(array([11], dtype=int64),)
intersection:  [11]
_______________
sup_ID  75444
(array([65], dtype=int64),)
intersection:  [65]
_______________
sup_ID  20226
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  48580
(array([ 2, 91], dtype=int64),)
intersection:  [ 2 91]
_______________
sup_ID  86815
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  13920
(array([89], dtype=int64),)
intersection:  [89]
_______________
sup_ID  71916
(array([10], dtype=int64),)
intersection:  [10]
_______________
sup_ID  28873
(array([96], dtype=int64),)
intersection:  [96]
_______________
sup_ID  18997
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  21232
(array([71], dtype=int64),)
intersection:  [71]
_______________
sup_ID  28873
(array([96], dtype=int64),)
intersection:  [96]
_______________
sup_ID  57551
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  97142
(array([], dtype=int64),)
intersection:  []
_______________
sup_ID  57551
(array([], dtype=int64),)
intersection:  []
_______________

### Using Naming Convention to create Nodes and Edges

In [44]:
allDfsKeys = list(All_dfs.keys())
print(allDfsKeys)

convert_using_naming()

['customer', 'externalservices', 'externaltransactions', 'facilities', 'internalservices', 'internaltransactions', 'manufacturing', 'products', 'retailer', 'supplier', 'warehouses', 'rcextship', 'scextship', 'srintship', 'ssintship', 'rcextorders', 'scextorders', 'srintorders', 'ssintorders']

In [45]:
allDfsKeys

['customer',
 'externalservices',
 'externaltransactions',
 'facilities',
 'internalservices',
 'internaltransactions',
 'manufacturing',
 'products',
 'retailer',
 'supplier',
 'warehouses',
 'rcextship',
 'scextship',
 'srintship',
 'ssintship',
 'rcextorders',
 'scextorders',
 'srintorders',
 'ssintorders']

### Initialize fk and ref_in

In [46]:
table_name = list(All_dfs.keys())
for table_name in All_dfs:
    fk[table_name] = {}
    ref_in[table_name] = set()

### Get Primary key for each table

In [47]:
for t in All_dfs:
    pk_finder(t,All_dfs[t])
pk

{'customer': 'cust_id',
 'externalservices': 'ExtServ_id',
 'externaltransactions': 'ExtTran_id',
 'facilities': 'fac_id',
 'internalservices': 'IntServ_id',
 'internaltransactions': 'IntTran_id',
 'manufacturing': 'Manf_id',
 'products': 'prod_id',
 'retailer': 'retailer_id',
 'supplier': 'supp_id',
 'warehouses': 'warehouse_id',
 'rcextship': 'ExtShip_id',
 'scextship': 'ExtShip_id',
 'srintship': 'IntShip_id',
 'ssintship': 'IntShip_id',
 'rcextorders': 'ExtOrders_id',
 'scextorders': 'ExtOrders_id',
 'srintorders': 'IntOrders_id',
 'ssintorders': 'IntOrders_id'}

### Get Foreing key for each table

In [48]:
for t in All_dfs:
    fk_finder(t,All_dfs[t])
fk

{'customer': {},
 'externalservices': {'ExtTrans_id': 'externaltransactions'},
 'externaltransactions': {'CompFrom': 'supplier', 'Custto': 'customer'},
 'facilities': {'supplier_id': 'supplier'},
 'internalservices': {'IntTrans_id': 'internaltransactions'},
 'internaltransactions': {'CompFrom': 'supplier', 'Compto': 'supplier'},
 'manufacturing': {'Different_suppliers': 'supplier',
  'Product_id': 'products',
  'Factory_id': 'supplier'},
 'products': {'warehouses': 'warehouses'},
 'retailer': {},
 'supplier': {},
 'warehouses': {},
 'rcextship': {'factoryIds/retailerIds': 'retailer', 'idsTo': 'customer'},
 'scextship': {'factoryIds/retailerIds': 'supplier', 'idsTo': 'customer'},
 'srintship': {'listSuppIds': 'supplier', 'factoryIds': 'retailer'},
 'ssintship': {'listSuppIds': 'supplier', 'factoryIds': 'supplier'},
 'rcextorders': {'ExtShip_id': 'rcextship'},
 'scextorders': {'ExtShip_id': 'scextship'},
 'srintorders': {'IntShip_id': 'srintship'},
 'ssintorders': {'IntShip_id': 'ssintship', 'prod_id': 'products'}}

In [49]:
ref_in

{'customer': {'externaltransactions', 'rcextship', 'scextship'},
 'externalservices': set(),
 'externaltransactions': {'externalservices'},
 'facilities': set(),
 'internalservices': set(),
 'internaltransactions': {'internalservices'},
 'manufacturing': set(),
 'products': {'manufacturing', 'ssintorders'},
 'retailer': {'rcextship', 'srintship'},
 'supplier': {'externaltransactions',
  'facilities',
  'internaltransactions',
  'manufacturing',
  'scextship',
  'srintship',
  'ssintship'},
 'warehouses': {'products'},
 'rcextship': {'rcextorders'},
 'scextship': {'scextorders'},
 'srintship': {'srintorders'},
 'ssintship': {'ssintorders'},
 'rcextorders': set(),
 'scextorders': set(),
 'srintorders': set(),
 'ssintorders': set()}

### Determine nodes and edges

In [50]:
nodes_edges(fk)

In [51]:
nodes

{'customer', 'retailer', 'supplier', 'warehouses'}

In [52]:

edges

{'externaltransactions',
 'internaltransactions',
 'rcextship',
 'scextship',
 'srintship',
 'ssintship'}

In [53]:
properties

{'externalservices',
 'facilities',
 'internalservices',
 'products',
 'rcextorders',
 'scextorders',
 'srintorders'}

### Create NodesTable

In [54]:
# nodesTable = add_nodes(nodes,nodesTable)

nodesTable = add_nodesV2(nodes, nodesTable)

nodesTable

retailer
supplier
warehouses
customer

         Label     ID                                         Attributes
0     retailer  91089  [Tunisia, Kairouan, distributer, 650, 5, 7, 16...
1     retailer  95444  [Kuwait, Al Farwānīyah, vendor, 441, 1, 8, 325...
2     retailer  66051  [Qatar, Ash Shīḩānīyah, abroad, 821, 2, 9, 426...
3     retailer  41072  [Greece, Dytikí Makedonía, customer end, 123, ...
4     retailer  34083   [Gambia, Banjul, vendor, 815, 4, 7, 1843949, []]
...        ...    ...                                                ...
1595  customer  82421  [F, Mary, Bell, Montserrat, Italy, Network eng...
1596  customer  14074  [F, Luce, Le Gall, Jersey, Jersey, Games devel...
1597  customer  95571  [M, Timothy, Moreno, Madagascar, Madagascar, E...
1598  customer  41209  [F, Emmi, Fritsch, Colombia, Germany, ingénieu...
1599  customer  47008  [F, Lauren, Toscanini, Liechtenstein, United S...

[1600 rows x 3 columns]

In [55]:
nodesTable["Label"].value_counts()

warehouses    1000
supplier       300
retailer       150
customer       150
Name: Label, dtype: int64

### Create Edges Table

In [56]:
edgesTable = add_edges(edges, edgesTable,pk,fk,ref_in)
edgesTable

    From_Node_ID To_Node_ID                                      order/service
0            269        309  [{'IntServ_id': 2070, 'placed_when': '2002-01-...
1            324        443  [{'IntServ_id': 1165, 'placed_when': '2000-08-...
2            403        396  [{'IntServ_id': 4897, 'placed_when': '2009-04-...
3            353        409                                                 []
4            247        412                                                 []
..           ...        ...                                                ...
883          443         51  [{'IntOrders_id': 6274, 'quantity': 734, 'plac...
884          377         29  [{'IntOrders_id': 2364, 'quantity': 180, 'plac...
885          443         69  [{'IntOrders_id': 6461, 'quantity': 297, 'plac...
886          425         38  [{'IntOrders_id': 9963, 'quantity': 766, 'plac...
887          202        101  [{'IntOrders_id': 9964, 'quantity': 766, 'plac...

[888 rows x 3 columns]

In [57]:
# nodes_df = pd.DataFrame(columns=['Label', 'ID', 'Attributes'])
# edges_df = pd.DataFrame(columns=['From','To'])
for node in nodes:
    column_names = list(All_dfs[node].columns) #get column names
    for index, row in All_dfs[node].iterrows():
        att = {}
        for i in range(1, len(column_names)):
            att[column_names[i]] = All_dfs[node].iloc[index, i]
        newRow = [{'Label': node , 'ID': All_dfs[node].iloc[index,0] , 'Attributes': att}]
        tmp = pd.DataFrame(newRow)
        nodes_df = pd.concat([nodes_df, tmp], ignore_index=True)

In [58]:
nodes_df

         Label     ID                                         Attributes
0     retailer  91089  {'country': 'Tunisia', 'city_name': 'Kairouan'...
1     retailer  95444  {'country': 'Kuwait', 'city_name': 'Al Farwānī...
2     retailer  66051  {'country': 'Qatar', 'city_name': 'Ash Shīḩānī...
3     retailer  41072  {'country': 'Greece', 'city_name': 'Dytikí Mak...
4     retailer  34083  {'country': 'Gambia', 'city_name': 'Banjul', '...
...        ...    ...                                                ...
1595  customer  82421  {'gender': 'F', 'first_name': 'Mary', 'last_na...
1596  customer  14074  {'gender': 'F', 'first_name': 'Luce', 'last_na...
1597  customer  95571  {'gender': 'M', 'first_name': 'Timothy', 'last...
1598  customer  41209  {'gender': 'F', 'first_name': 'Emmi', 'last_na...
1599  customer  47008  {'gender': 'F', 'first_name': 'Lauren', 'last_...

[1600 rows x 3 columns]

In [59]:
nodes_df['Label'].value_counts()

warehouses    1000
supplier       300
retailer       150
customer       150
Name: Label, dtype: int64

In [60]:

for edge_name in edges:
    

    foreign_keys = list(fk[edge_name].keys())

    from_col = foreign_keys[0]
    from_table_name = fk[edge_name][from_col]
    from_df = All_dfs[from_table_name]
    from_df_pk = pk[from_table_name]

    to_col = foreign_keys[-1]
    to_table_name = fk[edge_name][to_col]
    to_df = All_dfs[to_table_name]
    to_df_pk = pk[to_table_name]

    column_names = list(All_dfs[edge_name].columns) #get column names
    for index, _ in All_dfs[edge_name].iterrows():
        att = {}
        from_ref_id,to_ref_id = None, None


        for i in range(1, len(column_names)):
            column_name = column_names[i]


            if column_name not in foreign_keys:
                att[column_name] = All_dfs[edge_name].iloc[index, i]

            else:
                reference_id = All_dfs[edge_name].iloc[index, i]
                if column_name == from_col:
                # from_ref_id = from_df[from_df[from_df_pk] == reference_id].index[0]
                    from_ref_id = reference_id
                else:
                # to_ref_id = to_df[to_df[to_df_pk] == reference_id].index[0]
                    to_ref_id = reference_id

        # Adding new entry to node tabel
        newRow = [{'Label': edge_name , 'ID': All_dfs[edge_name].iloc[index,0] , 'Attributes': att}]
        tmp = pd.DataFrame(newRow)
        nodes_df = pd.concat([nodes_df, tmp], ignore_index=True)
        edge_node_index = len(nodes_df)-1
        # print(nodes_df.iloc[len(nodes_df)-1],All_dfs[Edge_name].iloc[index,0] )
        # creating two edges, one from the from_node to the edge node and one from edge node to to_node
        from_node_id = nodes_df[(nodes_df['Label']==from_table_name) &  (nodes_df['ID']==from_ref_id)].index[0]
        to_node_id =  nodes_df[(nodes_df['Label']==to_table_name) &  (nodes_df['ID']==to_ref_id)].index[0] 

        # from ---> edge 
        new_from_edge_row = [{'From': from_node_id , 'To':edge_node_index,'From_Table': from_table_name.capitalize(),'To_Table': edge_name.capitalize()
                              ,'Weight': 42,'Edge_Name': edge_name}]
        tmp = pd.DataFrame(new_from_edge_row)
        edges_df = pd.concat([edges_df, tmp], ignore_index=True)
        # edge --->to
        new_to_edge_row = [{'From': edge_node_index , 'To':  to_node_id, 'From_Table':edge_name.capitalize(), 'To_Table': to_table_name.capitalize()
                           ,'Weight': 42,'Edge_Name': edge_name}]
        tmp = pd.DataFrame(new_to_edge_row)
        edges_df = pd.concat([edges_df, tmp], ignore_index=True)

In [61]:
edges_df

,From,To,From_Table,To_Table,Weight,Edge_Name
0,269,1600,Supplier,Internaltransactions,42,internaltransactions
1,1600,309,Internaltransactions,Supplier,42,internaltransactions
2,324,1601,Supplier,Internaltransactions,42,internaltransactions
3,1601,443,Internaltransactions,Supplier,42,internaltransactions
4,403,1602,Supplier,Internaltransactions,42,internaltransactions
...,...,...,...,...,...,...
1771,2485,69,Srintship,Retailer,42,srintship
1772,425,2486,Supplier,Srintship,42,srintship
1773,2486,38,Srintship,Retailer,42,srintship
1774,202,2487,Supplier,Srintship,42,srintship
1775,2487,101,Srintship,Retailer,42,srintship

In [62]:

for property_name in properties:
  print(property_name)

  property_df = All_dfs[property_name]
      
  foreign_keys = list(fk[property_name].keys())

  fk_col = foreign_keys[0]
  referenced_table_name = fk[property_name][fk_col]
  referenced_table_df = All_dfs[referenced_table_name]
  referenced_table_pk = pk[referenced_table_name]
  
  column_names = list(property_df.columns) #get column names
  
  for index, _ in property_df.iterrows():    
      att = {}
      reference_id = None;      
      
      for i in range(1, len(column_names)):
        column_name = column_names[i]
        
        
        if column_name not in foreign_keys:
          att[column_name] = property_df.iloc[index, i]
      
        else:
          # capturing foreign key value
          reference_id = property_df.iloc[index, i]

      # Adding new entry to node tabel
      newRow = [{'Label': property_name , 'ID': property_df.iloc[index,0] , 'Attributes': att}]
      tmp = pd.DataFrame(newRow)
      nodes_df = pd.concat([nodes_df, tmp], ignore_index=True)
      property_node_index = len(nodes_df)-1
      # print(nodes_df.iloc[len(nodes_df)-1],property_df.iloc[index,0] )

      # creating two edges, one from the from_node to the edge node and one from edge node to to_node
      if  isinstance(reference_id,list):
        for list_element_id in reference_id:
          referenced_node_id = nodes_df[(nodes_df['Label']==referenced_table_name) &  (nodes_df['ID']==list_element_id)].index[0] 
        
          new_property_edge_row = [{'From': referenced_node_id , 'To':  property_node_index,'From_Table':referenced_table_name.capitalize(), 'To_Table': property_name.capitalize()
                                    ,'Weight': 42,'Edge_Name': "Related_To"}]
          tmp = pd.DataFrame(new_property_edge_row)
          edges_df = pd.concat([edges_df, tmp], ignore_index=True)

      else:
        referenced_node_id = nodes_df[(nodes_df['Label']==referenced_table_name) &  (nodes_df['ID']==reference_id)].index[0] 
        
        new_property_edge_row = [{'From': referenced_node_id , 'To':  property_node_index,'From_Table':referenced_table_name.capitalize(), 'To_Table': property_name.capitalize()
                                 ,'Weight': 42,'Edge_Name': "Related_To"}]
        tmp = pd.DataFrame(new_property_edge_row)
        edges_df = pd.concat([edges_df, tmp], ignore_index=True)

products
facilities
internalservices
scextorders
externalservices
srintorders
rcextorders

In [63]:
products_df = All_dfs["products"]
manufacturing_df = All_dfs["manufacturing"]
supplier_df = All_dfs["supplier"]

for i, manufacturing_row in manufacturing_df.iterrows():
    factory_id = manufacturing_row["Factory_id"]
    supplier_node_index = nodes_df.query(f"(Label == 'supplier' ) and (ID == {factory_id}) ").index[0]
    
    product_id = manufacturing_row["Product_id"]
    product_node_index = nodes_df.query(f"(Label == 'products' ) and (ID == {product_id}) ").index[0]

    new_edge_row = [{'From': supplier_node_index , 'To':  product_node_index,'From_Table':"supplier".capitalize(), 'To_Table': "products".capitalize()
                    ,'Weight': 42,'Edge_Name': "Manufactures"}]
    tmp = pd.DataFrame(new_edge_row)
    edges_df = pd.concat([edges_df, tmp], ignore_index=True)

In [64]:
All_dfs.keys()

dict_keys(['customer', 'externalservices', 'externaltransactions', 'facilities', 'internalservices', 'internaltransactions', 'manufacturing', 'products', 'retailer', 'supplier', 'warehouses', 'rcextship', 'scextship', 'srintship', 'ssintship', 'rcextorders', 'scextorders', 'srintorders', 'ssintorders'])

In [65]:
ss_internal_orders_df = All_dfs["ssintorders"]
for index, ss_internal_order_row in ss_internal_orders_df.iterrows():
    
    att = {}
    for column_name in ss_internal_orders_df:
        if(column_name not in fk["ssintorders"].keys() and column_name != pk["ssintorders"] ):
            att[column_name] = ss_internal_order_row[column_name]
    
    newRow = [{'Label': "ssintorders" , 'ID': ss_internal_orders_df.iloc[index,0] , 'Attributes': att}]

    tmp = pd.DataFrame(newRow)
    nodes_df = pd.concat([nodes_df, tmp], ignore_index=True)
    
    internal_order_index = len(nodes_df)-1
    
    internal_shipment_id = ss_internal_order_row["IntShip_id"]
    internal_shipment_node_index = nodes_df.query(f"(Label == 'ssintship' ) and (ID == {internal_shipment_id}) ").index[0]

    
    product_id = ss_internal_order_row["prod_id"]
    product_node_index = nodes_df.query(f"(Label == 'products' ) and (ID == {product_id}) ").index[0]
    
    
    # from ---> edge 
    new_from_edge_row = [{'From': internal_shipment_node_index , 'To':internal_order_index,'From_Table': "ssintship".capitalize(),'To_Table': "ssintorders".capitalize()
                              ,'Weight': 42,'Edge_Name': "Order"}]
    tmp = pd.DataFrame(new_from_edge_row)
    edges_df = pd.concat([edges_df, tmp], ignore_index=True)
    # edge --->to
    new_to_edge_row = [{'From':  internal_order_index, 'To': product_node_index , 'From_Table':"ssintorders".capitalize(), 'To_Table': "products".capitalize()
                       ,'Weight': 42,'Edge_Name': "Orders_Prodcut"}]
    tmp = pd.DataFrame(new_to_edge_row)
    edges_df = pd.concat([edges_df, tmp], ignore_index=True)

In [66]:
# # Not Generic At All:
# # looping over each row in internal shipments and checking if it belongs to manufacturing
# internal_shipments_df = All_dfs["ssintship"]
# products_df = All_dfs["products"]
# manufacturing_df = All_dfs["manufacturing"]

# for i, internal_shipments_row in internal_shipments_df.iterrows():
#     internal_shipments_ID = internal_shipments_row[0]
#     from_id = internal_shipments_row[1]
#     to_id = internal_shipments_row[2]
#     factory_records = manufacturing_df.query(f"Factory_id == {to_id}")
#     for j,manufacturing_row in factory_records.iterrows(): 
#         if from_id in manufacturing_row[1]:
#             product_id = manufacturing_row[2]
#             product_node_index = nodes_df.query(f"(Label == 'products' ) and (ID == {product_id}) ").index[0]
#             internal_shipment_node_index = nodes_df.query(f"(Label == 'ssintship' ) and (ID == {internal_shipments_ID}) ").index[0]
#             new_edge_row = [{'From': product_node_index , 'To':  internal_shipment_node_index,'From_Table':"products".capitalize(), 'To_Table': "ssintship".capitalize()}]
#             tmp = pd.DataFrame(new_edge_row)
#             edges_df = pd.concat([edges_df, tmp], ignore_index=True)

In [67]:
nodes_df

            Label     ID                                         Attributes
0        retailer  91089  {'country': 'Tunisia', 'city_name': 'Kairouan'...
1        retailer  95444  {'country': 'Kuwait', 'city_name': 'Al Farwānī...
2        retailer  66051  {'country': 'Qatar', 'city_name': 'Ash Shīḩānī...
3        retailer  41072  {'country': 'Greece', 'city_name': 'Dytikí Mak...
4        retailer  34083  {'country': 'Gambia', 'city_name': 'Banjul', '...
...           ...    ...                                                ...
5905  ssintorders  10448  {'quantity': 766, 'placed_when': '1993-05-08',...
5906  ssintorders  10449  {'quantity': 766, 'placed_when': '1993-05-08',...
5907  ssintorders  10450  {'quantity': 766, 'placed_when': '1993-05-08',...
5908  ssintorders  10451  {'quantity': 766, 'placed_when': '1993-05-08',...
5909  ssintorders  10452  {'quantity': 766, 'placed_when': '1993-05-08',...

[5910 rows x 3 columns]

In [68]:
edges_df.shape

(8120, 6)

[Neo 4j Function](#Neo4jFunction)

In [69]:
# draw_graph_Neo4j(nodes_df,edges_df)

In [70]:
nodes_df['Label'].value_counts()

facilities              2000
warehouses              1000
ssintorders              548
ssintship                537
products                 500
supplier                 300
retailer                 150
customer                 150
externaltransactions     100
internaltransactions     100
internalservices         100
externalservices         100
srintorders               74
rcextorders               52
rcextship                 51
srintship                 51
scextship                 49
scextorders               48
Name: Label, dtype: int64

In [71]:
All_dfs.keys()

dict_keys(['customer', 'externalservices', 'externaltransactions', 'facilities', 'internalservices', 'internaltransactions', 'manufacturing', 'products', 'retailer', 'supplier', 'warehouses', 'rcextship', 'scextship', 'srintship', 'ssintship', 'rcextorders', 'scextorders', 'srintorders', 'ssintorders'])

In [72]:
trial = nodes_df.query("Label == 'ssintship' | Label == 'scintship' | Label == 'srintship' | Label == 'rcintship'")
display(trial['ID'])

minMax = trial['ID'].agg(['min', 'max']).to_numpy()
print(minMax)

def calculateNewValue(x):
    if(x != 0):
        OldRange = (minMax[1] - minMax[0])  
        NewRange = (5 - 1)  
        NewValue = (((x - minMax[0]) * NewRange) / OldRange) + 1
        return round(NewValue)
    
    return 0

trial['ID'].apply(lambda x: calculateNewValue(x))

1751    7281
1752    3477
1753    8796
1754    2933
1755    3000
        ...
2483    4066
2484    7103
2485    8649
2486    6673
2487    3089
Name: ID, Length: 588, dtype: object

[ 1058 10482]

1751    4
1752    2
1753    4
1754    2
1755    2
       ..
2483    2
2484    4
2485    4
2486    3
2487    2
Name: ID, Length: 588, dtype: int64

In [73]:
All_dfs.keys()

dict_keys(['customer', 'externalservices', 'externaltransactions', 'facilities', 'internalservices', 'internaltransactions', 'manufacturing', 'products', 'retailer', 'supplier', 'warehouses', 'rcextship', 'scextship', 'srintship', 'ssintship', 'rcextorders', 'scextorders', 'srintorders', 'ssintorders'])

In [74]:
All_dfs['supplier']

,supp_id,supplier_name,country,city_name,currency,type,number_of_employees,Annual_sales,number_of_orders,market_share (%),market_capitalization ($)
0,34258,Taylor PLC,Lao People's Democratic Republic,Viangchan,Dollars,Financial Services,446,465.22,5565,48,5.970000e+11
1,40868,Sorrentino SPA,Mozambique,Gaza,Dollars,Real Estate,533,8881.74,1871,98,9.170000e+11
2,27813,Persico e figli,Saint Martin (French part),Unknown,Dollars,"Paper, Forest Products & Packaging",578,58.99,8611,9,6.980000e+11
3,57551,Karge OHG mbH,Brunei Darussalam,Belait,Dollars,Oil & Gas,145,3.35,4320,41,8.790000e+11
4,50099,"Smith, Porter and Lynch",Palau,Ngatpang,Dollars,Automotive & Assembly,872,8.39,2090,78,6.050000e+11
...,...,...,...,...,...,...,...,...,...,...,...
295,90256,Förster,Ethiopia,Addis Ababa,Dollars,"Paper, Forest Products & Packaging",764,7024.13,7003,46,6.919014e+10
296,35266,Gotthard Zahn GmbH,Finland,Pohjanmaa,Dollars,Healthcare Systems & Services,570,6.51,7985,42,1.470000e+11
297,52647,Cook-Webb,Morocco,Berkane,Dollars,"Paper, Forest Products & Packaging",762,10.69,2171,35,7.630000e+11
298,13355,Shah-Lowe,Central African Republic,Bamingui-Bangoran,Dollars,Automotive & Assembly,862,37.45,6844,50,2.150000e+11
299,48467,Brandt Ltd,Anguilla,Unknown,Dollars,Oil & Gas,593,788.49,1593,20,3.250000e+11

In [75]:
# nodes_df.query("Label == 'supplier'")
nodes_df.iloc[4781]

Label                                                facilities
ID                                                       145232
Attributes    {'market_cap': '194    8.943344e+08
Name: mar...
Name: 4781, dtype: object

In [76]:
edgesDf = pd.read_csv('./CSV Files/edges_df.csv').drop(columns=['Unnamed: 0'])
print(edgesDf.query("From_Table == 'Supplier' & To_Table == 'Products'").shape)
edgesDf.query("From_Table == 'Supplier' & To_Table == 'Products'")

(100, 16)

,From,To,From_Table,To_Table,Weight,Transportation_Cost,Transportation_Distance,Transportation_Duration,Transportation_Type,Rental price,price,profit_margin (%),market_share (%),Annual_sales,Distance,Edge_Name
6924,367,4781,Supplier,Products,20.0,0.0,0.0,0.0,0,0,616.92,19,0,0.0,0.0,Related_To
6925,413,4688,Supplier,Products,40.0,0.0,0.0,0.0,0,0,3088.68,24,0,0.0,0.0,Related_To
6926,430,5073,Supplier,Products,20.0,0.0,0.0,0.0,0,0,72.83,13,0,0.0,0.0,Related_To
6927,456,5161,Supplier,Products,35.0,0.0,0.0,0.0,0,0,16.91,30,0,0.0,0.0,Related_To
6928,493,5158,Supplier,Products,20.0,0.0,0.0,0.0,0,0,1.27,22,0,0.0,0.0,Related_To
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019,593,4766,Supplier,Products,20.0,0.0,0.0,0.0,0,0,103.33,25,0,0.0,0.0,Related_To
7020,500,4833,Supplier,Products,20.0,0.0,0.0,0.0,0,0,86.54,9,0,0.0,0.0,Related_To
7021,571,5174,Supplier,Products,20.0,0.0,0.0,0.0,0,0,70.71,26,0,0.0,0.0,Related_To
7022,490,5181,Supplier,Products,35.0,0.0,0.0,0.0,0,0,36.78,44,0,0.0,0.0,Related_To
7023,348,5182,Supplier,Products,20.0,0.0,0.0,0.0,0,0,574.54,26,0,0.0,0.0,Related_To

In [77]:
# All_dfs['products'].product_type.value_counts()
All_dfs['products']

,prod_id,product_type,product_name,warehouses,price,profit_margin (%)
0,911,M,WWW,"[5498, 6164, 5623, 7418, 8962, 7721, 4208, 871...",3088.68,24
1,316,F,MMM,"[3865, 5351]",107.39,47
2,549,P,LLL,[1969],47.14,7
3,801,V,SSS,"[3613, 4412, 2730, 1482, 2430, 7465, 8954, 118...",13.62,6
4,791,R,AAA,"[3514, 9292, 9388, 6379, 1149, 1526, 6928, 1888]",6.35,7
...,...,...,...,...,...,...
495,835,D,KKK,"[1835, 4047, 2155, 2969, 1249, 9807]",8530.71,24
496,323,C,III,"[5381, 7237, 3468, 5177, 2881]",2310.31,30
497,742,M,OOO,"[6283, 3413]",6080.30,13
498,412,X,III,"[7377, 2002, 8299, 1735, 5966, 6548, 4501, 752...",21.64,44
499,711,X,MMM,"[8154, 5970, 7209, 7614]",90.82,11

In [78]:
All_dfs['rcextship'].shape[0]

51

In [79]:
All_dfs['scextship'].shape[0]

49

In [80]:
All_dfs['srintship'].shape[0]

51

In [81]:
edges_df.query("(Edge_Name == 'rcextship') | (Edge_Name == 'scextship') | (Edge_Name == 'srintship') | (Edge_Name == 'ssintship')")['Edge_Name'].value_counts()

ssintship    1074
rcextship     102
srintship     102
scextship      98
Name: Edge_Name, dtype: int64

In [82]:
edges_df[(edges_df['Edge_Name'] == 'rcextship') | (edges_df['Edge_Name'] == 'scextship') | (edges_df['Edge_Name'] == 'srintship') | (edges_df['Edge_Name'] == 'ssintship')]

      From    To From_Table   To_Table Weight  Edge_Name
200    131  1700   Retailer  Rcextship     42  rcextship
201   1700  1592  Rcextship   Customer     42  rcextship
202     66  1701   Retailer  Rcextship     42  rcextship
203   1701  1534  Rcextship   Customer     42  rcextship
204     38  1702   Retailer  Rcextship     42  rcextship
...    ...   ...        ...        ...    ...        ...
1771  2485    69  Srintship   Retailer     42  srintship
1772   425  2486   Supplier  Srintship     42  srintship
1773  2486    38  Srintship   Retailer     42  srintship
1774   202  2487   Supplier  Srintship     42  srintship
1775  2487   101  Srintship   Retailer     42  srintship

[1376 rows x 6 columns]

In [83]:
edges_df['Edge_Name'].value_counts()

Related_To              5148
ssintship               1074
Order                    548
Orders_Prodcut           548
internaltransactions     200
externaltransactions     200
rcextship                102
srintship                102
Manufactures             100
scextship                 98
Name: Edge_Name, dtype: int64

[PyVis Function](#PyVisFunction)

In [84]:
# draw_graph_pyvis(nodes_df,edges_df)