In [42]:
import pandas as pd

In [43]:
import os
path_of_the_directory = '.'
ext = ('.csv')
All_dfs = {}
for file in os.listdir(path_of_the_directory):
    if file.endswith(ext):
        print(file) 
        temp = (file.replace("_"," ").replace("."," ").split(" ")[0].lower())
        All_dfs[temp] = pd.read_csv(file)
    else:
        continue

customer_data.csv
ExternalOrders_data.csv
ExternalServices_data.csv
ExternalShipments_data.csv
ExternalTransactions.csv
facilities_data.csv
InternalOrders_data.csv
InternalServices_data.csv
InternalShipments_data.csv
InternalTransactions.csv
Manfacturing_data.csv
Products_data.csv
Retailer_data.csv
Supplier_data.csv
warehouses_data.csv

In [44]:
SRIntShip = All_dfs["internalshipments"].query('from_to_where == "SR"')
SRIntShip = SRIntShip.drop(['from_to_where'], axis=1).reset_index(drop = True)
#SRIntShip

In [45]:
RCExtShip = All_dfs["externalshipments"].query('from_to_where == "RC"')
RCExtShip = RCExtShip.drop(['from_to_where'], axis=1).reset_index(drop = True)
#RCExtShip

In [46]:
SSIntShip = All_dfs["internalshipments"].query('from_to_where == "SS"')
SSIntShip = SSIntShip.drop(['from_to_where'], axis=1).reset_index(drop = True)
#SSIntShip

In [47]:
SCExtShip = All_dfs["externalshipments"].query('from_to_where == "SC"')
SCExtShip = SCExtShip.drop(['from_to_where'], axis=1).reset_index(drop = True)
#SCExtShip

In [48]:
All_dfs["RCExtShip".lower()] = RCExtShip
All_dfs["SCExtShip".lower()] = SCExtShip
All_dfs["SRIntShip".lower()] = SRIntShip
All_dfs["SSIntShip".lower()] = SSIntShip

In [ ]:
filter_list = All_dfs["rcextship"]["ExtShip_id"]

In [49]:
filter_list = All_dfs["rcextship"]["ExtShip_id"]
All_dfs["rcextorders"] = All_dfs["externalorders"].query("ExtShip_id.isin(@filter_list)").reset_index(drop=True)
filter_list = All_dfs["scextship"]["ExtShip_id"]
All_dfs["scextorders"] = All_dfs["externalorders"].query("ExtShip_id.isin(@filter_list)").reset_index(drop=True)
filter_list = All_dfs["srintship"]["IntShip_id"]
All_dfs["srintorders"] = All_dfs["internalorders"].query("IntShip_id.isin(@filter_list)").reset_index(drop=True)
filter_list = All_dfs["ssintship"]["IntShip_id"]
All_dfs["ssintorders"] = All_dfs["internalorders"].query("IntShip_id.isin(@filter_list)").reset_index(drop=True)
All_dfs.keys()

dict_keys(['customer', 'externalorders', 'externalservices', 'externalshipments', 'externaltransactions', 'facilities', 'internalorders', 'internalservices', 'internalshipments', 'internaltransactions', 'manfacturing', 'products', 'retailer', 'supplier', 'warehouses', 'rcextship', 'scextship', 'srintship', 'ssintship', 'rcextorders', 'scextorders', 'srintorders', 'ssintorders'])

In [50]:
All_dfs.pop("internalshipments")
All_dfs.pop("externalshipments")
All_dfs.pop("externalorders")
All_dfs.pop("internalorders")
All_dfs.keys()

dict_keys(['customer', 'externalservices', 'externaltransactions', 'facilities', 'internalservices', 'internaltransactions', 'manfacturing', 'products', 'retailer', 'supplier', 'warehouses', 'rcextship', 'scextship', 'srintship', 'ssintship', 'rcextorders', 'scextorders', 'srintorders', 'ssintorders'])

In [51]:
# All_dfs = {key: value for key, value in All_dfs.items() 
#            if key in ["customer","supplier","retailer","rcextship","srintship","srintorders","rcextorders"]}

In [52]:
All_dfs.keys()

dict_keys(['customer', 'externalservices', 'externaltransactions', 'facilities', 'internalservices', 'internaltransactions', 'manfacturing', 'products', 'retailer', 'supplier', 'warehouses', 'rcextship', 'scextship', 'srintship', 'ssintship', 'rcextorders', 'scextorders', 'srintorders', 'ssintorders'])

In [53]:
#ref_in = {supplier :(fac,manf)}
pk = {}
fk = {}
ref_in = {}
table_name = list(All_dfs.keys())
for table_name in All_dfs:
    fk[table_name] = {}
    ref_in[table_name] = set()

In [54]:
def pk_finder(name, df):
    for i in range(len(df.columns)):
        col = df.iloc[:,i]
        #if(col.size == col.drop_duplicates().size):
        if(col.nunique() == col.size):
            pk[name] = df.columns[i] 
            break

In [55]:
def fk_finder(name, df):
    for i in range(len(df.columns)):
        col_name = df.columns[i]
        col = df.iloc[:,i]
        if(list(df.columns)[i] not in pk):
            flag = True
            for j in pk: #loops on the key j = table names
                if j != name:
                    primary_key_column = All_dfs[j][(pk[j])]
                    if primary_key_column.dtype == col.dtype:
                        status = col.isin(primary_key_column)
                        if status[status== False].size == 0:
                            fk[name][col_name] = j 
                            ref_in[j].add(name)
                            break

In [56]:
for t in All_dfs:
    pk_finder(t,All_dfs[t])

In [59]:
for t in All_dfs:
    fk_finder(t,All_dfs[t])

In [60]:
#edges
#scextship: ['supplier','customer']
#nodes is a set
edges = {}
nodes = {}
properties = {}
ref_in

{'customer': {'externaltransactions', 'rcextship', 'scextship'},
 'externalservices': set(),
 'externaltransactions': {'externalservices'},
 'facilities': set(),
 'internalservices': set(),
 'internaltransactions': set(),
 'manfacturing': set(),
 'products': set(),
 'retailer': {'rcextship', 'srintship'},
 'supplier': {'externaltransactions',
  'facilities',
  'internaltransactions',
  'manfacturing',
  'scextship',
  'srintship',
  'ssintship'},
 'warehouses': set(),
 'rcextship': {'rcextorders'},
 'scextship': {'scextorders'},
 'srintship': {'srintorders'},
 'ssintship': {'ssintorders'},
 'rcextorders': set(),
 'scextorders': set(),
 'srintorders': set(),
 'ssintorders': set()}

In [63]:
def nodes_edges(fk):
    for f in fk:
        if len(fk[f]) == 2:
            inner_dict = list(fk[f])
            edges[f] = fk[f]
        elif len(fk[f]) == 1:
            properties[f] = fk[f]
        else:
            nodes[f] = All_dfs[f]
    # for f in fk:
    #     if((f not in edges) ):
    #         nodes[f] = All_dfs[f]
    #         #nodes.append(f)

In [64]:
ref_in

{'customer': {'externaltransactions', 'rcextship', 'scextship'},
 'externalservices': set(),
 'externaltransactions': {'externalservices'},
 'facilities': set(),
 'internalservices': set(),
 'internaltransactions': set(),
 'manfacturing': set(),
 'products': set(),
 'retailer': {'rcextship', 'srintship'},
 'supplier': {'externaltransactions',
  'facilities',
  'internaltransactions',
  'manfacturing',
  'scextship',
  'srintship',
  'ssintship'},
 'warehouses': set(),
 'rcextship': {'rcextorders'},
 'scextship': {'scextorders'},
 'srintship': {'srintorders'},
 'ssintship': {'ssintorders'},
 'rcextorders': set(),
 'scextorders': set(),
 'srintorders': set(),
 'ssintorders': set()}

In [19]:
nodes_edges(fk)
edges

{'rcextship': {'factoryIds/retailerIds': 'retailer', 'idsTo': 'customer'},
 'srintship': {'listSuppIds': 'supplier', 'factoryIds': 'retailer'}}

In [20]:
nodes.keys()

dict_keys(['customer', 'retailer', 'supplier'])

In [21]:
properties.keys()

dict_keys(['rcextorders', 'srintorders'])

In [22]:
nodesTable = pd.DataFrame(columns=['Label', 'ID', 'Attributes'])
nodesTable

Empty DataFrame
Columns: [Label, ID, Attributes]
Index: []

In [23]:
def add_nodes(nodes, nodesTable):
    for n in range(len(nodes)):
        for index, row in nodes[list(nodes.keys())[n]].iterrows():
            column_names = list(nodes[list(nodes.keys())[n]].columns) #get column names
            att = {}
            for i in range(1, len(column_names)):
                att[column_names[i]] = nodes[list(nodes.keys())[n]].iloc[index, i]
            newRow = [{'Label': list(nodes.keys())[n] , 'ID': nodes[list(nodes.keys())[n]].iloc[index,0] , 'Attributes': att}]
            tmp = pd.DataFrame(newRow)
            nodesTable = pd.concat([nodesTable, tmp], ignore_index=True)
    return nodesTable

In [24]:
nodesTable = add_nodes(nodes,nodesTable)
nodesTable

        Label     ID                                         Attributes
0    customer  33736  {'gender': 'F', 'first_name': 'Nadia', 'last_n...
1    customer  42959  {'gender': 'M', 'first_name': 'Eric', 'last_na...
2    customer  50653  {'gender': 'F', 'first_name': 'Alessia', 'last...
3    customer  82485  {'gender': 'M', 'first_name': 'Alexei', 'last_...
4    customer  56609  {'gender': 'F', 'first_name': 'Brenda', 'last_...
..        ...    ...                                                ...
595  supplier  90256  {'supplier_name': 'Förster', 'country': 'Ethio...
596  supplier  35266  {'supplier_name': 'Gotthard Zahn GmbH', 'count...
597  supplier  52647  {'supplier_name': 'Cook-Webb', 'country': 'Mor...
598  supplier  13355  {'supplier_name': 'Shah-Lowe', 'country': 'Cen...
599  supplier  48467  {'supplier_name': 'Brandt Ltd', 'country': 'An...

[600 rows x 3 columns]

In [25]:
n = {"supplier": All_dfs["supplier"].head(5),"customer":All_dfs["customer"].head(5)}
df = pd.DataFrame(columns=['Label', 'ID', 'Attributes'])
df = add_nodes(n, df)
df

      Label     ID                                         Attributes
0  supplier  34258  {'supplier_name': 'Taylor PLC', 'country': 'La...
1  supplier  40868  {'supplier_name': 'Sorrentino SPA', 'country':...
2  supplier  27813  {'supplier_name': 'Persico e figli', 'country'...
3  supplier  57551  {'supplier_name': 'Karge OHG mbH', 'country': ...
4  supplier  50099  {'supplier_name': 'Smith, Porter and Lynch', '...
5  customer  33736  {'gender': 'F', 'first_name': 'Nadia', 'last_n...
6  customer  42959  {'gender': 'M', 'first_name': 'Eric', 'last_na...
7  customer  50653  {'gender': 'F', 'first_name': 'Alessia', 'last...
8  customer  82485  {'gender': 'M', 'first_name': 'Alexei', 'last_...
9  customer  56609  {'gender': 'F', 'first_name': 'Brenda', 'last_...

In [26]:
edgesTable = pd.DataFrame(columns = ['From_Node_ID', 'To_Node_ID', 'order/service'])
edgesTable

Empty DataFrame
Columns: [From_Node_ID, To_Node_ID, order/service]
Index: []

In [27]:
edges

{'rcextship': {'factoryIds/retailerIds': 'retailer', 'idsTo': 'customer'},
 'srintship': {'listSuppIds': 'supplier', 'factoryIds': 'retailer'}}

In [28]:
#order = {orderID: {}}
def add_edges(edges,edgesTable,pk,fk,ref_in):
    for e in edges:
        df = All_dfs[e] #df of the cur edge
        for r in range(len(df)):
            label = list(edges[e].keys())
            from_id = nodesTable[(nodesTable["Label"] == edges[e][label[0]]) & (df.loc[r,label[0]] == nodesTable["ID"])]
            from_id = from_id.index[0]
            to_id = nodesTable[(nodesTable["Label"] == edges[e][label[1]]) & (df.loc[r,label[1]] == nodesTable["ID"])]
            to_id = to_id.index[0]
            pk_col = pk[e]
#             primary_key = df[pk_col].iloc[r]
            primary_key = df.loc[r,pk_col]
            att = convert_prop(ref_in,e,primary_key,fk)
            newRow = [{'From_Node_ID': from_id, 'To_Node_ID': to_id, 'order/service' : att}]
            tmp = pd.DataFrame(newRow)
            edgesTable = pd.concat([edgesTable, tmp], ignore_index=True)
    return edgesTable

In [29]:
#convert_prob(properties, properties,25462)
def convert_prop(ref_in,edge_key, pk_value,fk):
    for referenced_table_name in ref_in[edge_key]:
        referenced_table = All_dfs[referenced_table_name]
        fk_of_ref_table = fk[referenced_table_name]
        for foreign_key in fk_of_ref_table:
            if fk_of_ref_table[foreign_key] == edge_key:
#                 referenced_table[referenced_table[foreign_key]== id]
                all_occurances_df = referenced_table[referenced_table[foreign_key]== pk_value].drop([foreign_key],axis=1)
                return all_occurances_df.to_dict('records')

In [30]:
edgesTable = add_edges(edges, edgesTable,pk,fk,ref_in)
edgesTable

    From_Node_ID To_Node_ID                                      order/service
0            281        142  [{'ExtOrders_id': 3779, 'quantity': 961, 'plac...
1            216         84  [{'ExtOrders_id': 3158, 'quantity': 978, 'plac...
2            188         27  [{'ExtOrders_id': 9113, 'quantity': 205, 'plac...
3            252          5                                                 []
4            185         41  [{'ExtOrders_id': 1414, 'quantity': 436, 'plac...
..           ...        ...                                                ...
97           593        201  [{'IntOrders_id': 6274, 'quantity': 734, 'plac...
98           527        179  [{'IntOrders_id': 2364, 'quantity': 180, 'plac...
99           593        219  [{'IntOrders_id': 6461, 'quantity': 297, 'plac...
100          575        188                                                 []
101          352        251                                                 []

[102 rows x 3 columns]

In [67]:

x_encoding =  {"supplier":50,"retailer":600,"customer":1000}
color_encoding = {"supplier":"#EEFFCC","retailer":"#E16A5B","customer":"#00A15F"}

In [32]:
import numpy as np

list2 = [(x[1]+'_'+str(x[0])).capitalize() for x in zip(nodesTable.ID,nodesTable.Label)]
list2

['Customer_33736',
 'Customer_42959',
 'Customer_50653',
 'Customer_82485',
 'Customer_56609',
 'Customer_45986',
 'Customer_58600',
 'Customer_55976',
 'Customer_32433',
 'Customer_14142',
 'Customer_49539',
 'Customer_31548',
 'Customer_22043',
 'Customer_44945',
 'Customer_14574',
 'Customer_36708',
 'Customer_25357',
 'Customer_48071',
 'Customer_35953',
 'Customer_42770',
 'Customer_30824',
 'Customer_33597',
 'Customer_22036',
 'Customer_55905',
 'Customer_53365',
 'Customer_70649',
 'Customer_24642',
 'Customer_16956',
 'Customer_63453',
 'Customer_21156',
 'Customer_38534',
 'Customer_40624',
 'Customer_19561',
 'Customer_88373',
 'Customer_53519',
 'Customer_41538',
 'Customer_81331',
 'Customer_97225',
 'Customer_28053',
 'Customer_18779',
 'Customer_96892',
 'Customer_64367',
 'Customer_66152',
 'Customer_95167',
 'Customer_25491',
 'Customer_72090',
 'Customer_69145',
 'Customer_15307',
 'Customer_17040',
 'Customer_39892',
 'Customer_11346',
 'Customer_78650',
 'Customer_87252',
 'Customer_24338',
 'Customer_18213',
 'Customer_91447',
 'Customer_18065',
 'Customer_85900',
 'Customer_70762',
 'Customer_16771',
 'Customer_24255',
 'Customer_87878',
 'Customer_79381',
 'Customer_84885',
 'Customer_91846',
 'Customer_80020',
 'Customer_63285',
 'Customer_29456',
 'Customer_36352',
 'Customer_62831',
 'Customer_98678',
 'Customer_63407',
 'Customer_99404',
 'Customer_32489',
 'Customer_12717',
 'Customer_59444',
 'Customer_79671',
 'Customer_75571',
 'Customer_21113',
 'Customer_45445',
 'Customer_10613',
 'Customer_81344',
 'Customer_95549',
 'Customer_28243',
 'Customer_83792',
 'Customer_85709',
 'Customer_21478',
 'Customer_45506',
 'Customer_14259',
 'Customer_88466',
 'Customer_15908',
 'Customer_66743',
 'Customer_87421',
 'Customer_15724',
 'Customer_96784',
 'Customer_41344',
 'Customer_64070',
 'Customer_90589',
 'Customer_48068',
 'Customer_81118',
 'Customer_23081',
 'Customer_60867',
 'Customer_17879',
 'Customer_83375',
 'Customer_90435',
 'Customer_33170',
 'Customer_51119',
 'Customer_65924',
 'Customer_34252',
 'Customer_43022',
 'Customer_78934',
 'Customer_22426',
 'Customer_11800',
 'Customer_32819',
 'Customer_72646',
 'Customer_56182',
 'Customer_41100',
 'Customer_75256',
 'Customer_28691',
 'Customer_11082',
 'Customer_82948',
 'Customer_49616',
 'Customer_25033',
 'Customer_96548',
 'Customer_80996',
 'Customer_72689',
 'Customer_78170',
 'Customer_27430',
 'Customer_67646',
 'Customer_60542',
 'Customer_81997',
 'Customer_76264',
 'Customer_81529',
 'Customer_81782',
 'Customer_82092',
 'Customer_78075',
 'Customer_20571',
 'Customer_50014',
 'Customer_49626',
 'Customer_18451',
 'Customer_13248',
 'Customer_24998',
 'Customer_12666',
 'Customer_63479',
 'Customer_22228',
 'Customer_82421',
 'Customer_14074',
 'Customer_95571',
 'Customer_41209',
 'Customer_47008',
 'Retailer_91089',
 'Retailer_95444',
 'Retailer_66051',
 'Retailer_41072',
 'Retailer_34083',
 'Retailer_89362',
 'Retailer_12318',
 'Retailer_21359',
 'Retailer_42411',
 'Retailer_60940',
 'Retailer_75619',
 'Retailer_22692',
 'Retailer_44162',
 'Retailer_75353',
 'Retailer_52005',
 'Retailer_97673',
 'Retailer_76384',
 'Retailer_56948',
 'Retailer_13633',
 'Retailer_15035',
 'Retailer_93440',
 'Retailer_81901',
 'Retailer_38001',
 'Retailer_18410',
 'Retailer_44544',
 'Retailer_43132',
 'Retailer_64989',
 'Retailer_28960',
 'Retailer_92087',
 'Retailer_22940',
 'Retailer_75419',
 'Retailer_10327',
 'Retailer_61580',
 'Retailer_61892',
 'Retailer_73217',
 'Retailer_26654',
 'Retailer_54549',
 'Retailer_85978',
 'Retailer_31857',
 'Retailer_17462',
 'Retailer_12527',
 'Retailer_74653',
 'Retailer_48109',
 'Retailer_76987',
 'Retailer_62821',
 'Retailer_14737',
 'Retailer_58391',
 'Retailer_49955',
 'Retailer_57882',
 'Retailer_20289',
 'Retailer_96028',
 'Retailer_76059',
 'Retailer_70666',
 'Retailer_47196',
 'Retailer_26461',
 'Retailer_91566',
 'Retailer_48462',
 'Retailer_29540',
 'Retailer_54756',
 'Retailer_68441',
 'Retailer_66663',
 'Retailer_61003',
 'Retailer_82777',
 'Retailer_78692',
 'Retailer_22459',
 'Retailer_67833',
 'Retailer_26336',
 'Retailer_46954',
 'Retailer_28549',
 'Retailer_62920',
 'Retailer_95909',
 'Retailer_98026',
 'Retailer_45151',
 'Retailer_53380',
 'Retailer_92733',
 'Retailer_82256',
 'Retailer_61236',
 'Retailer_55061',
 'Retailer_38017',
 'Retailer_96831',
 'Retailer_29575',
 'Retailer_67690',
 'Retailer_60804',
 'Retailer_70517',
 'Retailer_26669',
 'Retailer_56680',
 'Retailer_69173',
 'Retailer_35367',
 'Retailer_31412',
 'Retailer_64102',
 'Retailer_35734',
 'Retailer_78981',
 'Retailer_65811',
 'Retailer_69912',
 'Retailer_56222',
 'Retailer_92403',
 'Retailer_40821',
 'Retailer_90345',
 'Retailer_71308',
 'Retailer_41879',
 'Retailer_69506',
 'Retailer_90349',
 'Retailer_67158',
 'Retailer_38871',
 'Retailer_59906',
 'Retailer_31062',
 'Retailer_87755',
 'Retailer_23758',
 'Retailer_22049',
 'Retailer_43964',
 'Retailer_10661',
 'Retailer_25889',
 'Retailer_17198',
 'Retailer_67361',
 'Retailer_98717',
 'Retailer_34779',
 'Retailer_48381',
 'Retailer_82830',
 'Retailer_94027',
 'Retailer_56575',
 'Retailer_87615',
 'Retailer_69655',
 'Retailer_83982',
 'Retailer_24037',
 'Retailer_65500',
 'Retailer_91326',
 'Retailer_14803',
 'Retailer_84290',
 'Retailer_61174',
 'Retailer_28898',
 'Retailer_64571',
 'Retailer_63898',
 'Retailer_16322',
 'Retailer_23228',
 'Retailer_49119',
 'Retailer_14114',
 'Retailer_53319',
 'Retailer_14965',
 'Retailer_11854',
 'Retailer_63788',
 'Retailer_40164',
 'Retailer_45657',
 'Retailer_78323',
 'Retailer_38623',
 'Retailer_76954',
 'Retailer_86308',
 'Retailer_18464',
 'Retailer_57039',
 'Retailer_33250',
 'Retailer_21789',
 'Supplier_34258',
 'Supplier_40868',
 'Supplier_27813',
 'Supplier_57551',
 'Supplier_50099',
 'Supplier_68240',
 'Supplier_46204',
 'Supplier_44351',
 'Supplier_43284',
 'Supplier_47804',
 'Supplier_61874',
 'Supplier_10161',
 'Supplier_27880',
 'Supplier_58199',
 'Supplier_75581',
 'Supplier_89467',
 'Supplier_61433',
 'Supplier_57453',
 'Supplier_77332',
 'Supplier_70443',
 'Supplier_85351',
 'Supplier_29277',
 'Supplier_97749',
 'Supplier_93661',
 'Supplier_47339',
 'Supplier_26090',
 'Supplier_17977',
 'Supplier_68081',
 'Supplier_83468',
 'Supplier_65468',
 'Supplier_35841',
 'Supplier_27896',
 'Supplier_19974',
 'Supplier_63319',
 'Supplier_58047',
 'Supplier_55441',
 'Supplier_69142',
 'Supplier_29604',
 'Supplier_22560',
 'Supplier_74660',
 'Supplier_47093',
 'Supplier_58976',
 'Supplier_27107',
 'Supplier_11283',
 'Supplier_63113',
 'Supplier_24741',
 'Supplier_67421',
 'Supplier_43691',
 'Supplier_18952',
 'Supplier_64251',
 'Supplier_71819',
 'Supplier_24646',
 'Supplier_72315',
 'Supplier_56382',
 'Supplier_31532',
 'Supplier_33037',
 'Supplier_13951',
 'Supplier_88882',
 'Supplier_18141',
 'Supplier_73593',
 'Supplier_92416',
 'Supplier_73487',
 'Supplier_99762',
 'Supplier_86815',
 'Supplier_53699',
 'Supplier_41898',
 'Supplier_13889',
 'Supplier_21166',
 'Supplier_52544',
 'Supplier_68120',
 'Supplier_14125',
 'Supplier_12548',
 'Supplier_30692',
 'Supplier_31934',
 'Supplier_91465',
 'Supplier_81423',
 'Supplier_82768',
 'Supplier_32829',
 'Supplier_39180',
 'Supplier_55787',
 'Supplier_11770',
 'Supplier_75444',
 'Supplier_12179',
 'Supplier_12547',
 'Supplier_46676',
 'Supplier_89745',
 'Supplier_46615',
 'Supplier_42065',
 'Supplier_18262',
 'Supplier_24451',
 'Supplier_64604',
 'Supplier_46995',
 'Supplier_49681',
 'Supplier_86580',
 'Supplier_97142',
 'Supplier_63322',
 'Supplier_90272',
 'Supplier_92698',
 'Supplier_14522',
 'Supplier_23557',
 'Supplier_60591',
 'Supplier_38265',
 'Supplier_55648',
 'Supplier_71574',
 'Supplier_71916',
 'Supplier_76443',
 'Supplier_96293',
 'Supplier_60393',
 'Supplier_13540',
 'Supplier_16601',
 'Supplier_98981',
 'Supplier_13283',
 'Supplier_12748',
 'Supplier_51293',
 'Supplier_61570',
 'Supplier_55515',
 'Supplier_46942',
 'Supplier_13362',
 'Supplier_11513',
 'Supplier_78265',
 'Supplier_76088',
 'Supplier_52578',
 'Supplier_85924',
 'Supplier_71597',
 'Supplier_70050',
 'Supplier_26533',
 'Supplier_90236',
 'Supplier_91409',
 'Supplier_72631',
 'Supplier_33368',
 'Supplier_48580',
 'Supplier_83378',
 'Supplier_68177',
 'Supplier_21232',
 'Supplier_68800',
 'Supplier_42179',
 'Supplier_81015',
 'Supplier_72157',
 'Supplier_77743',
 'Supplier_23083',
 'Supplier_83444',
 'Supplier_34582',
 'Supplier_90059',
 'Supplier_24401',
 'Supplier_41112',
 'Supplier_59005',
 'Supplier_69003',
 'Supplier_54218',
 'Supplier_61603',
 'Supplier_72867',
 'Supplier_65204',
 'Supplier_29185',
 'Supplier_80325',
 'Supplier_10753',
 'Supplier_93778',
 'Supplier_78843',
 'Supplier_74432',
 'Supplier_29196',
 'Supplier_23640',
 'Supplier_87916',
 'Supplier_41099',
 'Supplier_80737',
 'Supplier_54921',
 'Supplier_57113',
 'Supplier_52160',
 'Supplier_19878',
 'Supplier_81114',
 'Supplier_68562',
 'Supplier_20226',
 'Supplier_47070',
 'Supplier_36417',
 'Supplier_36243',
 'Supplier_36985',
 'Supplier_77189',
 'Supplier_56104',
 'Supplier_54148',
 'Supplier_79479',
 'Supplier_30890',
 'Supplier_81548',
 'Supplier_48251',
 'Supplier_85572',
 'Supplier_90456',
 'Supplier_58421',
 'Supplier_25123',
 'Supplier_74318',
 'Supplier_66206',
 'Supplier_84844',
 'Supplier_47789',
 'Supplier_68357',
 'Supplier_54953',
 'Supplier_46070',
 'Supplier_75482',
 'Supplier_77683',
 'Supplier_70468',
 'Supplier_38957',
 'Supplier_73575',
 'Supplier_75434',
 'Supplier_80991',
 'Supplier_45056',
 'Supplier_16082',
 'Supplier_28873',
 'Supplier_71339',
 'Supplier_75613',
 'Supplier_52082',
 'Supplier_25563',
 'Supplier_41542',
 'Supplier_47017',
 'Supplier_46894',
 'Supplier_43160',
 'Supplier_94512',
 'Supplier_79389',
 'Supplier_60009',
 'Supplier_30764',
 'Supplier_82144',
 'Supplier_42191',
 'Supplier_99869',
 'Supplier_99559',
 'Supplier_21602',
 'Supplier_10797',
 'Supplier_68814',
 'Supplier_81099',
 'Supplier_35703',
 'Supplier_40125',
 'Supplier_27057',
 'Supplier_87209',
 'Supplier_85240',
 'Supplier_88025',
 'Supplier_13920',
 'Supplier_59027',
 'Supplier_25648',
 'Supplier_18997',
 'Supplier_40597',
 'Supplier_13569',
 'Supplier_48238',
 'Supplier_77347',
 'Supplier_91265',
 'Supplier_28515',
 'Supplier_70869',
 'Supplier_12116',
 'Supplier_42091',
 'Supplier_90942',
 'Supplier_76020',
 'Supplier_69229',
 'Supplier_61565',
 'Supplier_12435',
 'Supplier_79806',
 'Supplier_57109',
 'Supplier_52130',
 'Supplier_42118',
 'Supplier_40898',
 'Supplier_39402',
 'Supplier_73431',
 'Supplier_58914',
 'Supplier_34967',
 'Supplier_99068',
 'Supplier_75772',
 'Supplier_13901',
 'Supplier_57265',
 'Supplier_71349',
 'Supplier_87695',
 'Supplier_81678',
 'Supplier_56429',
 'Supplier_16265',
 'Supplier_38461',
 'Supplier_28042',
 'Supplier_27988',
 'Supplier_85116',
 'Supplier_68615',
 'Supplier_67411',
 'Supplier_11790',
 'Supplier_21726',
 'Supplier_15367',
 'Supplier_95496',
 'Supplier_93032',
 'Supplier_64580',
 'Supplier_19072',
 'Supplier_94877',
 'Supplier_67018',
 'Supplier_86494',
 'Supplier_71056',
 'Supplier_11186',
 'Supplier_55714',
 'Supplier_65285',
 'Supplier_96448',
 'Supplier_68498',
 'Supplier_29946',
 'Supplier_35340',
 'Supplier_99057',
 'Supplier_10731',
 'Supplier_99101',
 'Supplier_70892',
 'Supplier_51207',
 'Supplier_94574',
 'Supplier_30864',
 'Supplier_90700',
 'Supplier_90256',
 'Supplier_35266',
 'Supplier_52647',
 'Supplier_13355',
 'Supplier_48467']

In [69]:
nodes_color = [color_encoding[x] for x in list(nodesTable.Label)]
nodes_x_postion = [x_encoding[x] for x in list(nodesTable.Label)]

In [50]:
indices = list(map(lambda x: int(x),list(nodesTable.index)))
# indices = list(range(len((list2))))

In [71]:

nodes_attributes = list(map(lambda x: str(x).replace(',',"\n"),list(nodesTable.Attributes)))

In [72]:

node_size = [300 for _ in range(len(nodesTable))]

In [113]:
from pyvis.network import Network

g = Network(height='750px', width='100%')
g.barnes_hut()
g.add_nodes(indices,
            value = node_size,
            title= nodes_attributes,
            label=list2,
            color=nodes_color,
            group = 
            x=nodes_x_postion)
for e in range(len(edgesTable)):
    src = int(edgesTable.iloc[e]["From_Node_ID"])
    dst = int(edgesTable.iloc[e]["To_Node_ID"])
    g.add_edge(src,dst,weight=5)
    


g.show('test.html')

In [ ]:
import numpy as np
np.array(nodesTable.values.tolist())[:,0]

In [65]:
for e in edgesTable.values:
    print(e)

[281 142
 list([{'ExtOrders_id': 3779, 'quantity': 961, 'placed_when': '1976-06-29', 'actual_date': nan, 'expected_date': '1976-07-18', 'cost': 1.72, 'status': 'Out For Delivery'}])]
[216 84
 list([{'ExtOrders_id': 3158, 'quantity': 978, 'placed_when': '2001-01-08', 'actual_date': '2001-01-18 00:00:00', 'expected_date': '2001-02-01', 'cost': 9.31, 'status': 'Closed'}, {'ExtOrders_id': 5348, 'quantity': 248, 'placed_when': '2002-08-30', 'actual_date': nan, 'expected_date': '2002-09-28', 'cost': 980.43, 'status': 'Out For Delivery'}])]
[188 27
 list([{'ExtOrders_id': 9113, 'quantity': 205, 'placed_when': '1978-01-30', 'actual_date': '1978-02-25 00:00:00', 'expected_date': '1978-02-28', 'cost': 825.35, 'status': 'Closed'}])]
[252 5 list([])]
[185 41
 list([{'ExtOrders_id': 1414, 'quantity': 436, 'placed_when': '1982-04-29', 'actual_date': nan, 'expected_date': '1982-05-23', 'cost': 4.93, 'status': 'Out For Delivery'}, {'ExtOrders_id': 7702, 'quantity': 172, 'placed_when': '1987-09-26', 'actual_date': '1987-10-09 00:00:00', 'expected_date': '1987-10-13', 'cost': 28.6, 'status': 'Closed'}])]
[247 63
 list([{'ExtOrders_id': 3080, 'quantity': 393, 'placed_when': '2000-07-18', 'actual_date': '2000-08-08 00:00:00', 'expected_date': '2000-07-28', 'cost': 97.78, 'status': 'Delayed'}])]
[150 137 list([])]
[258 104
 list([{'ExtOrders_id': 5984, 'quantity': 440, 'placed_when': '1982-09-02', 'actual_date': nan, 'expected_date': '1982-10-01', 'cost': 7.8, 'status': 'Out For Delivery'}, {'ExtOrders_id': 7793, 'quantity': 583, 'placed_when': '1972-04-22', 'actual_date': nan, 'expected_date': '1972-05-13', 'cost': 39.54, 'status': 'Out For Delivery'}, {'ExtOrders_id': 3828, 'quantity': 967, 'placed_when': '2009-02-14', 'actual_date': '2009-03-07 00:00:00', 'expected_date': '2009-03-15', 'cost': 3468.91, 'status': 'Closed'}, {'ExtOrders_id': 6047, 'quantity': 221, 'placed_when': '1998-10-30', 'actual_date': '1998-11-27 00:00:00', 'expected_date': '1998-11-19', 'cost': 3.95, 'status': 'Delayed'}])]
[268 78
 list([{'ExtOrders_id': 4759, 'quantity': 699, 'placed_when': '1978-09-17', 'actual_date': nan, 'expected_date': '1978-10-07', 'cost': 74.95, 'status': 'Out For Delivery'}, {'ExtOrders_id': 4500, 'quantity': 343, 'placed_when': '2006-02-11', 'actual_date': '2006-02-24 00:00:00', 'expected_date': '2006-03-12', 'cost': 3162.79, 'status': 'Closed'}])]
[222 109
 list([{'ExtOrders_id': 3889, 'quantity': 280, 'placed_when': '1985-08-21', 'actual_date': '1985-09-16 00:00:00', 'expected_date': '1985-09-01', 'cost': 499.66, 'status': 'Delayed'}])]
[284 99
 list([{'ExtOrders_id': 2221, 'quantity': 725, 'placed_when': '1975-01-14', 'actual_date': nan, 'expected_date': '1975-02-07', 'cost': 653.3, 'status': 'Out For Delivery'}, {'ExtOrders_id': 2788, 'quantity': 593, 'placed_when': '1987-08-12', 'actual_date': nan, 'expected_date': '1987-09-03', 'cost': 384.73, 'status': 'Out For Delivery'}, {'ExtOrders_id': 7630, 'quantity': 360, 'placed_when': '1995-08-10', 'actual_date': '1995-08-26 00:00:00', 'expected_date': '1995-09-09', 'cost': 3732.87, 'status': 'Closed'}])]
[235 123 list([])]
[288 42
 list([{'ExtOrders_id': 7534, 'quantity': 619, 'placed_when': '2010-01-11', 'actual_date': nan, 'expected_date': '2010-01-31', 'cost': 9196.61, 'status': 'Out For Delivery'}])]
[247 85 list([])]
[194 129
 list([{'ExtOrders_id': 4784, 'quantity': 270, 'placed_when': '1977-03-27', 'actual_date': nan, 'expected_date': '1977-04-22', 'cost': 704.41, 'status': 'Out For Delivery'}, {'ExtOrders_id': 6510, 'quantity': 486, 'placed_when': '2010-09-09', 'actual_date': nan, 'expected_date': '2010-10-04', 'cost': 93.36, 'status': 'Out For Delivery'}])]
[218 143 list([])]
[231 19
 list([{'ExtOrders_id': 7987, 'quantity': 465, 'placed_when': '2014-03-17', 'actual_date': nan, 'expected_date': '2014-04-08', 'cost': 2028.51, 'status': 'Out For Delivery'}, {'ExtOrders_id': 5763, 'quantity': 257, 'placed_when': '2021-10-21', 'actual_date': '2021-11-13 00:00:00', 'expected_date': '2021-11-02', 'cost': 695.7, 'status': 'Delayed'}])]
[194 131
 list([{'ExtOrders_id': 4210, 'quantity': 979, 'placed_when': '1974-12-01', 'actual_date': nan, 'expected_date': '1974-12-21', 'cost': 9760.2, 'status': 'Out For Delivery'}, {'ExtOrders_id': 1919, 'quantity': 689, 'placed_when': '2000-04-29', 'actual_date': nan, 'expected_date': '2000-05-15', 'cost': 50.26, 'status': 'Out For Delivery'}])]
[280 65
 list([{'ExtOrders_id': 1321, 'quantity': 308, 'placed_when': '1984-11-12', 'actual_date': '1984-12-12 00:00:00', 'expected_date': '1984-12-05', 'cost': 99.25, 'status': 'Delayed'}, {'ExtOrders_id': 8691, 'quantity': 522, 'placed_when': '1990-10-31', 'actual_date': nan, 'expected_date': '1990-11-26', 'cost': 12.24, 'status': 'Out For Delivery'}])]
[154 95
 list([{'ExtOrders_id': 3622, 'quantity': 136, 'placed_when': '1979-05-10', 'actual_date': '1979-05-29 00:00:00', 'expected_date': '1979-05-20', 'cost': 549.42, 'status': 'Delayed'}, {'ExtOrders_id': 1154, 'quantity': 820, 'placed_when': '1974-01-24', 'actual_date': nan, 'expected_date': '1974-02-23', 'cost': 819.81, 'status': 'Out For Delivery'}])]
[231 141 list([])]
[281 114
 list([{'ExtOrders_id': 8183, 'quantity': 292, 'placed_when': '1998-09-28', 'actual_date': nan, 'expected_date': '1998-10-22', 'cost': 40.6, 'status': 'Out For Delivery'}])]
[159 144 list([])]
[157 73
 list([{'ExtOrders_id': 6474, 'quantity': 937, 'placed_when': '1972-12-26', 'actual_date': '1973-01-19 00:00:00', 'expected_date': '1973-01-13', 'cost': 7.15, 'status': 'Delayed'}])]
[294 140
 list([{'ExtOrders_id': 9271, 'quantity': 521, 'placed_when': '2016-10-12', 'actual_date': '2016-10-25 00:00:00', 'expected_date': '2016-11-01', 'cost': 6.96, 'status': 'Closed'}])]
[229 14 list([])]
[272 9
 list([{'ExtOrders_id': 8077, 'quantity': 483, 'placed_when': '2002-03-24', 'actual_date': '2002-04-20 00:00:00', 'expected_date': '2002-04-06', 'cost': 62.39, 'status': 'Delayed'}])]
[150 134 list([])]
[167 124 list([])]
[275 144 list([])]
[166 92 list([])]
[206 113 list([])]
[228 69
 list([{'ExtOrders_id': 1932, 'quantity': 167, 'placed_when': '2020-09-16', 'actual_date': nan, 'expected_date': '2020-10-15', 'cost': 940.39, 'status': 'Out For Delivery'}, {'ExtOrders_id': 9035, 'quantity': 618, 'placed_when': '1992-10-16', 'actual_date': nan, 'expected_date': '1992-11-09', 'cost': 199.2, 'status': 'Out For Delivery'}])]
[285 19
 list([{'ExtOrders_id': 9746, 'quantity': 342, 'placed_when': '1996-02-19', 'actual_date': '1996-03-19 00:00:00', 'expected_date': '1996-02-29', 'cost': 9.42, 'status': 'Delayed'}])]
[201 17
 list([{'ExtOrders_id': 4244, 'quantity': 141, 'placed_when': '1970-12-08', 'actual_date': '1970-12-30 00:00:00', 'expected_date': '1970-12-28', 'cost': 2.17, 'status': 'Delayed'}])]
[151 39
 list([{'ExtOrders_id': 9638, 'quantity': 224, 'placed_when': '1985-10-09', 'actual_date': nan, 'expected_date': '1985-10-22', 'cost': 37.28, 'status': 'Out For Delivery'}])]
[167 78 list([])]
[272 17 list([])]
[297 86 list([])]
[160 5
 list([{'ExtOrders_id': 3497, 'quantity': 372, 'placed_when': '1977-07-28', 'actual_date': '1977-08-18 00:00:00', 'expected_date': '1977-08-09', 'cost': 6.18, 'status': 'Delayed'}])]
[272 11
 list([{'ExtOrders_id': 4419, 'quantity': 799, 'placed_when': '2015-10-31', 'actual_date': nan, 'expected_date': '2015-11-10', 'cost': 54.73, 'status': 'Out For Delivery'}, {'ExtOrders_id': 9300, 'quantity': 496, 'placed_when': '1993-02-17', 'actual_date': nan, 'expected_date': '1993-03-03', 'cost': 441.25, 'status': 'Out For Delivery'}])]
[164 131 list([])]
[296 2
 list([{'ExtOrders_id': 4444, 'quantity': 222, 'placed_when': '1990-12-23', 'actual_date': nan, 'expected_date': '1991-01-18', 'cost': 8970.89, 'status': 'Out For Delivery'}, {'ExtOrders_id': 1617, 'quantity': 650, 'placed_when': '1993-05-31', 'actual_date': '1993-06-21 00:00:00', 'expected_date': '1993-06-11', 'cost': 518.63, 'status': 'Delayed'}, {'ExtOrders_id': 5302, 'quantity': 975, 'placed_when': '1976-10-30', 'actual_date': nan, 'expected_date': '1976-11-14', 'cost': 8.83, 'status': 'Out For Delivery'}, {'ExtOrders_id': 4469, 'quantity': 297, 'placed_when': '1979-02-20', 'actual_date': '1979-03-06 00:00:00', 'expected_date': '1979-03-20', 'cost': 1.11, 'status': 'Closed'}, {'ExtOrders_id': 4563, 'quantity': 634, 'placed_when': '1977-12-01', 'actual_date': nan, 'expected_date': '1977-12-17', 'cost': 5.86, 'status': 'Out For Delivery'}])]
[256 149 list([])]
[259 94 list([])]
[223 76
 list([{'ExtOrders_id': 8666, 'quantity': 515, 'placed_when': '1979-01-24', 'actual_date': '1979-02-14 00:00:00', 'expected_date': '1979-02-11', 'cost': 300.58, 'status': 'Delayed'}, {'ExtOrders_id': 7466, 'quantity': 261, 'placed_when': '1993-04-14', 'actual_date': '1993-05-13 00:00:00', 'expected_date': '1993-05-06', 'cost': 934.12, 'status': 'Delayed'}, {'ExtOrders_id': 1129, 'quantity': 524, 'placed_when': '2010-02-18', 'actual_date': '2010-03-07 00:00:00', 'expected_date': '2010-03-12', 'cost': 4.62, 'status': 'Closed'}, {'ExtOrders_id': 5489, 'quantity': 816, 'placed_when': '1992-07-02', 'actual_date': '1992-07-13 00:00:00', 'expected_date': '1992-07-26', 'cost': 6015.81, 'status': 'Closed'}, {'ExtOrders_id': 2531, 'quantity': 578, 'placed_when': '2015-06-28', 'actual_date': nan, 'expected_date': '2015-07-15', 'cost': 1454.32, 'status': 'Out For Delivery'}])]
[156 107 list([])]
[238 74 list([])]
[298 19
 list([{'ExtOrders_id': 7437, 'quantity': 789, 'placed_when': '1992-05-22', 'actual_date': nan, 'expected_date': '1992-06-14', 'cost': 425.74, 'status': 'Out For Delivery'}])]
[156 3
 list([{'ExtOrders_id': 2997, 'quantity': 473, 'placed_when': '2021-07-29', 'actual_date': nan, 'expected_date': '2021-08-22', 'cost': 5058.57, 'status': 'Out For Delivery'}])]
[182 52 list([])]
[471 263 list([])]
[315 217
 list([{'IntOrders_id': 8605, 'quantity': 766, 'placed_when': '1993-05-08', 'actual_date': '1993-05-30 00:00:00', 'expected_date': '1993-06-01', 'cost': 38.9, 'status': 'Closed'}])]
[531 193 list([])]
[540 267
 list([{'IntOrders_id': 2591, 'quantity': 373, 'placed_when': '2013-04-16', 'actual_date': nan, 'expected_date': '2013-05-07', 'cost': 3551.9, 'status': 'Out For Delivery'}])]
[569 272
 list([{'IntOrders_id': 6219, 'quantity': 598, 'placed_when': '2001-06-19', 'actual_date': nan, 'expected_date': '2001-07-15', 'cost': 6.27, 'status': 'Out For Delivery'}, {'IntOrders_id': 6471, 'quantity': 684, 'placed_when': '2017-06-13', 'actual_date': nan, 'expected_date': '2017-07-09', 'cost': 1254.47, 'status': 'Out For Delivery'}])]
[468 197
 list([{'IntOrders_id': 7505, 'quantity': 673, 'placed_when': '1984-12-21', 'actual_date': nan, 'expected_date': '1985-01-19', 'cost': 6.32, 'status': 'Out For Delivery'}])]
[464 153
 list([{'IntOrders_id': 7903, 'quantity': 164, 'placed_when': '1991-02-02', 'actual_date': '1991-02-17 00:00:00', 'expected_date': '1991-02-28', 'cost': 616.71, 'status': 'Closed'}, {'IntOrders_id': 3865, 'quantity': 717, 'placed_when': '1987-06-14', 'actual_date': nan, 'expected_date': '1987-07-01', 'cost': 94.88, 'status': 'Out For Delivery'}])]
[393 157 list([])]
[372 263 list([])]
[507 188 list([])]
[493 295
 list([{'IntOrders_id': 3057, 'quantity': 771, 'placed_when': '2007-10-29', 'actual_date': '2007-11-08 00:00:00', 'expected_date': '2007-11-16', 'cost': 8.24, 'status': 'Closed'}])]
[417 194
 list([{'IntOrders_id': 8373, 'quantity': 979, 'placed_when': '1998-01-23', 'actual_date': nan, 'expected_date': '1998-02-11', 'cost': 29.38, 'status': 'Out For Delivery'}])]
[352 261
 list([{'IntOrders_id': 1350, 'quantity': 649, 'placed_when': '2016-11-16', 'actual_date': nan, 'expected_date': '2016-12-16', 'cost': 814.31, 'status': 'Out For Delivery'}, {'IntOrders_id': 4257, 'quantity': 206, 'placed_when': '2002-06-16', 'actual_date': '2002-07-15 00:00:00', 'expected_date': '2002-07-10', 'cost': 230.92, 'status': 'Delayed'}, {'IntOrders_id': 5692, 'quantity': 657, 'placed_when': '2009-03-25', 'actual_date': '2009-04-22 00:00:00', 'expected_date': '2009-04-12', 'cost': 841.31, 'status': 'Delayed'}])]
[414 283 list([])]
[588 203 list([])]
[575 249
 list([{'IntOrders_id': 1139, 'quantity': 570, 'placed_when': '2012-06-05', 'actual_date': '2012-06-29 00:00:00', 'expected_date': '2012-06-16', 'cost': 247.2, 'status': 'Delayed'}, {'IntOrders_id': 7329, 'quantity': 635, 'placed_when': '1972-03-06', 'actual_date': '1972-03-27 00:00:00', 'expected_date': '1972-03-22', 'cost': 778.83, 'status': 'Delayed'}])]
[417 287
 list([{'IntOrders_id': 6613, 'quantity': 190, 'placed_when': '1975-12-09', 'actual_date': nan, 'expected_date': '1975-12-30', 'cost': 512.12, 'status': 'Out For Delivery'}])]
[406 269
 list([{'IntOrders_id': 4575, 'quantity': 939, 'placed_when': '1973-06-25', 'actual_date': '1973-07-23 00:00:00', 'expected_date': '1973-07-08', 'cost': 66.49, 'status': 'Delayed'}, {'IntOrders_id': 6974, 'quantity': 449, 'placed_when': '1998-09-26', 'actual_date': nan, 'expected_date': '1998-10-16', 'cost': 8.67, 'status': 'Out For Delivery'}])]
[397 197 list([])]
[519 188 list([])]
[356 265
 list([{'IntOrders_id': 5208, 'quantity': 914, 'placed_when': '2012-04-05', 'actual_date': nan, 'expected_date': '2012-04-15', 'cost': 3908.99, 'status': 'Out For Delivery'}])]
[456 184
 list([{'IntOrders_id': 8078, 'quantity': 788, 'placed_when': '1970-12-28', 'actual_date': '1971-01-10 00:00:00', 'expected_date': '1971-01-23', 'cost': 557.82, 'status': 'Closed'}, {'IntOrders_id': 7688, 'quantity': 635, 'placed_when': '1996-01-16', 'actual_date': '1996-02-12 00:00:00', 'expected_date': '1996-01-30', 'cost': 85.39, 'status': 'Delayed'}])]
[414 160
 list([{'IntOrders_id': 4203, 'quantity': 126, 'placed_when': '1984-03-25', 'actual_date': nan, 'expected_date': '1984-04-09', 'cost': 4.5, 'status': 'Out For Delivery'}])]
[405 203
 list([{'IntOrders_id': 1532, 'quantity': 127, 'placed_when': '2009-06-07', 'actual_date': nan, 'expected_date': '2009-07-05', 'cost': 8.25, 'status': 'Out For Delivery'}, {'IntOrders_id': 6900, 'quantity': 256, 'placed_when': '1987-10-05', 'actual_date': '1987-10-15 00:00:00', 'expected_date': '1987-10-20', 'cost': 27.41, 'status': 'Closed'}])]
[375 237
 list([{'IntOrders_id': 4582, 'quantity': 127, 'placed_when': '1983-09-02', 'actual_date': nan, 'expected_date': '1983-09-20', 'cost': 3816.57, 'status': 'Out For Delivery'}])]
[562 163 list([])]
[597 207
 list([{'IntOrders_id': 3196, 'quantity': 655, 'placed_when': '2000-11-29', 'actual_date': '2000-12-16 00:00:00', 'expected_date': '2000-12-12', 'cost': 236.57, 'status': 'Delayed'}, {'IntOrders_id': 1625, 'quantity': 461, 'placed_when': '1983-05-31', 'actual_date': '1983-06-13 00:00:00', 'expected_date': '1983-06-25', 'cost': 2.28, 'status': 'Closed'}, {'IntOrders_id': 2537, 'quantity': 724, 'placed_when': '2011-01-13', 'actual_date': '2011-02-09 00:00:00', 'expected_date': '2011-01-30', 'cost': 3504.73, 'status': 'Delayed'}])]
[405 177
 list([{'IntOrders_id': 8214, 'quantity': 324, 'placed_when': '2016-11-22', 'actual_date': '2016-12-17 00:00:00', 'expected_date': '2016-12-04', 'cost': 2739.68, 'status': 'Delayed'}])]
[379 241 list([])]
[381 183
 list([{'IntOrders_id': 8577, 'quantity': 287, 'placed_when': '1972-06-12', 'actual_date': '1972-07-01 00:00:00', 'expected_date': '1972-07-03', 'cost': 499.21, 'status': 'Closed'}])]
[367 212
 list([{'IntOrders_id': 7340, 'quantity': 870, 'placed_when': '2000-07-24', 'actual_date': '2000-08-07 00:00:00', 'expected_date': '2000-08-03', 'cost': 17.14, 'status': 'Delayed'}, {'IntOrders_id': 5281, 'quantity': 260, 'placed_when': '1984-09-03', 'actual_date': '1984-09-27 00:00:00', 'expected_date': '1984-09-30', 'cost': 675.35, 'status': 'Closed'}, {'IntOrders_id': 1122, 'quantity': 101, 'placed_when': '2009-02-05', 'actual_date': nan, 'expected_date': '2009-03-06', 'cost': 775.63, 'status': 'Out For Delivery'}, {'IntOrders_id': 5776, 'quantity': 330, 'placed_when': '1975-05-28', 'actual_date': nan, 'expected_date': '1975-06-26', 'cost': 4.37, 'status': 'Out For Delivery'}, {'IntOrders_id': 5876, 'quantity': 181, 'placed_when': '2009-02-14', 'actual_date': nan, 'expected_date': '2009-03-04', 'cost': 429.97, 'status': 'Out For Delivery'}])]
[435 290
 list([{'IntOrders_id': 1724, 'quantity': 582, 'placed_when': '2007-11-27', 'actual_date': nan, 'expected_date': '2007-12-11', 'cost': 6245.32, 'status': 'Out For Delivery'}])]
[559 191
 list([{'IntOrders_id': 4635, 'quantity': 766, 'placed_when': '1974-01-15', 'actual_date': nan, 'expected_date': '1974-01-31', 'cost': 816.75, 'status': 'Out For Delivery'}, {'IntOrders_id': 4826, 'quantity': 870, 'placed_when': '2011-03-06', 'actual_date': '2011-03-23 00:00:00', 'expected_date': '2011-03-26', 'cost': 7671.1, 'status': 'Closed'}, {'IntOrders_id': 3659, 'quantity': 919, 'placed_when': '1986-03-26', 'actual_date': nan, 'expected_date': '1986-04-10', 'cost': 327.18, 'status': 'Out For Delivery'}])]
[416 210
 list([{'IntOrders_id': 8648, 'quantity': 751, 'placed_when': '1997-09-20', 'actual_date': '1997-10-20 00:00:00', 'expected_date': '1997-10-19', 'cost': 1.86, 'status': 'Delayed'}, {'IntOrders_id': 3912, 'quantity': 800, 'placed_when': '1976-02-05', 'actual_date': nan, 'expected_date': '1976-02-17', 'cost': 3676.62, 'status': 'Out For Delivery'}, {'IntOrders_id': 4009, 'quantity': 737, 'placed_when': '1997-08-06', 'actual_date': '1997-08-22 00:00:00', 'expected_date': '1997-08-22', 'cost': 92.71, 'status': 'Closed'}])]
[588 280
 list([{'IntOrders_id': 2409, 'quantity': 560, 'placed_when': '2017-06-07', 'actual_date': '2017-06-18 00:00:00', 'expected_date': '2017-07-04', 'cost': 93.94, 'status': 'Closed'}, {'IntOrders_id': 6539, 'quantity': 629, 'placed_when': '2017-01-24', 'actual_date': nan, 'expected_date': '2017-02-06', 'cost': 8441.79, 'status': 'Out For Delivery'}])]
[351 288
 list([{'IntOrders_id': 1174, 'quantity': 821, 'placed_when': '1988-09-23', 'actual_date': '1988-10-12 00:00:00', 'expected_date': '1988-10-16', 'cost': 99.88, 'status': 'Closed'}, {'IntOrders_id': 6969, 'quantity': 218, 'placed_when': '1989-01-15', 'actual_date': '1989-02-06 00:00:00', 'expected_date': '1989-01-29', 'cost': 515.14, 'status': 'Delayed'}])]
[433 242 list([])]
[375 170 list([])]
[374 262
 list([{'IntOrders_id': 9802, 'quantity': 843, 'placed_when': '1990-06-06', 'actual_date': '1990-06-26 00:00:00', 'expected_date': '1990-06-19', 'cost': 7460.73, 'status': 'Delayed'}])]
[549 210 list([])]
[580 155 list([])]
[571 258 list([])]
[571 268 list([])]
[531 238 list([])]
[352 290
 list([{'IntOrders_id': 8167, 'quantity': 981, 'placed_when': '1970-11-17', 'actual_date': '1970-12-11 00:00:00', 'expected_date': '1970-12-12', 'cost': 372.53, 'status': 'Closed'}])]
[588 216
 list([{'IntOrders_id': 2468, 'quantity': 985, 'placed_when': '2021-06-25', 'actual_date': '2021-07-22 00:00:00', 'expected_date': '2021-07-11', 'cost': 8.33, 'status': 'Delayed'}, {'IntOrders_id': 3884, 'quantity': 880, 'placed_when': '1980-06-04', 'actual_date': '1980-06-19 00:00:00', 'expected_date': '1980-06-25', 'cost': 1260.13, 'status': 'Closed'}])]
[593 201
 list([{'IntOrders_id': 6274, 'quantity': 734, 'placed_when': '1979-09-08', 'actual_date': nan, 'expected_date': '1979-09-19', 'cost': 953.79, 'status': 'Out For Delivery'}, {'IntOrders_id': 9165, 'quantity': 345, 'placed_when': '2016-08-29', 'actual_date': '2016-09-10 00:00:00', 'expected_date': '2016-09-18', 'cost': 4.24, 'status': 'Closed'}])]
[527 179
 list([{'IntOrders_id': 2364, 'quantity': 180, 'placed_when': '2019-01-06', 'actual_date': nan, 'expected_date': '2019-01-25', 'cost': 6.68, 'status': 'Out For Delivery'}])]
[593 219
 list([{'IntOrders_id': 6461, 'quantity': 297, 'placed_when': '2014-08-26', 'actual_date': nan, 'expected_date': '2014-09-11', 'cost': 8149.5, 'status': 'Out For Delivery'}, {'IntOrders_id': 3831, 'quantity': 662, 'placed_when': '1972-08-14', 'actual_date': nan, 'expected_date': '1972-09-04', 'cost': 553.73, 'status': 'Out For Delivery'}])]
[575 188 list([])]
[352 251 list([])]

In [103]:
nodesTable

        Label     ID                                         Attributes
0    customer  33736  {'gender': 'F', 'first_name': 'Nadia', 'last_n...
1    customer  42959  {'gender': 'M', 'first_name': 'Eric', 'last_na...
2    customer  50653  {'gender': 'F', 'first_name': 'Alessia', 'last...
3    customer  82485  {'gender': 'M', 'first_name': 'Alexei', 'last_...
4    customer  56609  {'gender': 'F', 'first_name': 'Brenda', 'last_...
..        ...    ...                                                ...
595  supplier  90256  {'supplier_name': 'Förster', 'country': 'Ethio...
596  supplier  35266  {'supplier_name': 'Gotthard Zahn GmbH', 'count...
597  supplier  52647  {'supplier_name': 'Cook-Webb', 'country': 'Mor...
598  supplier  13355  {'supplier_name': 'Shah-Lowe', 'country': 'Cen...
599  supplier  48467  {'supplier_name': 'Brandt Ltd', 'country': 'An...

[600 rows x 3 columns]

In [104]:
edgesTable

    From_Node_ID To_Node_ID                                      order/service
0            281        142  [{'ExtOrders_id': 3779, 'quantity': 961, 'plac...
1            216         84  [{'ExtOrders_id': 3158, 'quantity': 978, 'plac...
2            188         27  [{'ExtOrders_id': 9113, 'quantity': 205, 'plac...
3            252          5                                                 []
4            185         41  [{'ExtOrders_id': 1414, 'quantity': 436, 'plac...
..           ...        ...                                                ...
97           593        201  [{'IntOrders_id': 6274, 'quantity': 734, 'plac...
98           527        179  [{'IntOrders_id': 2364, 'quantity': 180, 'plac...
99           593        219  [{'IntOrders_id': 6461, 'quantity': 297, 'plac...
100          575        188                                                 []
101          352        251                                                 []

[102 rows x 3 columns]

In [143]:
import networkx as nx
nx_graph = nx.Graph()
for i in range(len(nodesTable)):
    node = nodesTable.iloc[i]
    nx_graph.add_node(i,size = 50,label = f"{node['Label']}_{node['ID']}".capitalize(),group=node["Label"], color=color_encoding[node["Label"]],x = x_encoding[node["Label"]])

for edge in edgesTable.iterrows():
    nx_graph.add_edge(edge[1]["From_Node_ID"],edge[1]["To_Node_ID"],weight=50)

In [144]:
nx_graph.number_of_edges()

102

In [145]:
# pos=nx.spring_layout(nx_graph,scale=2) 
# nx.draw(nx_graph,pos)
nt = Network(width="100%",height="200%")
#pulates the nodes and edges data structures
nt.from_nx(nx_graph)
nt.toggle_physics(True)

nt.show('nx.html')